﻿
@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-gift " aria-hidden="true"></i> Importación de Puntos</h2><br />

@using (Html.BeginForm("Import", "Puntos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Raw(ViewBag.Error)<br />
    <span>Seleccionar el archivo a importar</span><input type="file" name="excelFile" />
    <br />
    <input type="submit" value="Importar" />
}
<br />

<table id="list" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Usuario
            </th>
            <th>
                Catálogo
            </th>
            <th>
                Puntos
            </th>
            <th>
                Descripción
            </th>

        </tr>
    </thead>
    @foreach (var item in ViewBag.Lista)
    {
        <tr>
            <th>
                @item.User
            </th>
            <th>
                @item.Catalogo
            </th>
            <th>
                @item.Puntos
            </th>
            <th>
                @item.Mensaje
            </th>

        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY');

        $('#list').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });

</script>