<div class="box" [style.backgroundImage]="'url(' + fondo + ')'" (click)="log()">
    <ion-grid>
        <ion-row>
            <ion-col class="aling-l size-1">
                Mis Puntos<br>
                {{ nombre }}
            </ion-col>
            
        </ion-row>
        <ion-row>
            <ion-col class="aling-l size-2">
                {{ puntos }}
            </ion-col>
        </ion-row>
        <ion-row class="mt-1">
            <ion-col class="aling-c size-0">
                Datos actualizados a la fecha {{ fechaFormatted }}
            </ion-col>
        </ion-row>
    </ion-grid>
</div>