qavant-card-puntos {
    .box{
        background-color: #e20614;
        color: white;
        height: 200px;
        border-radius: 15px;
        padding: 10px;
        margin: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .img-logo{
        width: 45px;
        height: 45px;
    }
    .aling-r{
        text-align: right;
    }
    .aling-l{
        text-align: left;
    }
    .aling-c{
        text-align: center;
    }
    .size-0{
        font-size: 12px;
    }
    .size-1{
        font-size: 18px;
    }
    .size-2{
        font-size: 48px;
        font-weight: 600;
    }
    .mt-1{
        padding-top: 13px;
    }


}
