
<!--Icons: https://ionicons.com-->
<ion-tabs>
	<ion-tab [root]="tab1Root" tabIcon="custom-muro"></ion-tab>
	<ion-tab [root]="tab4Root" tabIcon="custom-noticias"></ion-tab>
	<ion-tab [root]="tab2Root" tabIcon="custom-catalogo"></ion-tab>
	<ion-tab [root]="tab3Root" tabIcon="custom-perfil"></ion-tab>
</ion-tabs>


<div id="search" class="toolbar-search" (click)="goToQuienEsQuienPage()">
	<!--
	<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<title>1A94267E-5B00-44E8-BD44-3D9772712590</title>
		<desc>Created with sketchtool.</desc>
		<defs>
		<path d="M20.71,19.29 L17.31,15.9 C18.4069846,14.5024547 19.0022094,12.776655 19,11 C19,6.581722 15.418278,3 11,3 C6.581722,3 3,6.581722 3,11 C3,15.418278 6.581722,19 11,19 C12.776655,19.0022094 14.5024547,18.4069846 15.9,17.31 L19.29,20.71 C19.4777666,20.8993127 19.7333625,21.0057983 20,21.0057983 C20.2666375,21.0057983 20.5222334,20.8993127 20.71,20.71 C20.8993127,20.5222334 21.0057983,20.2666375 21.0057983,20 C21.0057983,19.7333625 20.8993127,19.4777666 20.71,19.29 Z M5,11 C5,7.6862915 7.6862915,5 11,5 C14.3137085,5 17,7.6862915 17,11 C17,14.3137085 14.3137085,17 11,17 C7.6862915,17 5,14.3137085 5,11 Z" id="path-1"></path>
		</defs>
		<g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
		<g id="Icons-/-Search">
			<g id="search-outline">
			<rect id="Rectangle" class="st0" opacity="0" x="0" y="0" width="24" height="24"></rect>
			<mask id="mask-2" fill="white">
				<use xlink:href="#path-1"></use>
			</mask>
			<use id="Shape" class="st1" fill-rule="nonzero" xlink:href="#path-1"></use>
			<g id="Colors-/-Black" mask="url(#mask-2)" class="st2">
				<rect id="Color" x="0" y="0" width="24" height="24"></rect>
			</g>
			</g>
		</g>
		</g>
	</svg>
-->
</div>