<qavant-header title="Información útil"></qavant-header>

<ion-content padding>
  <div *ngIf="isReady">
    <div class="content-header">
      <h1>{{info?.title | truncate:70}}</h1>
      <div class="copete">{{info?.copete}}</div>
    </div>
    <div class="content-body">
      <picture *ngIf="info?.image">
        <img src="{{info?.image}}" />
      </picture>
      <div [innerHTML]="info?.html"></div> 
    </div>
  </div>
</ion-content>