<ng-container *ngIf="hasSessionActive(); else Login">
  <div *ngIf="!hasServerError()" class="content">
    <p>Cargando ...</p>
  </div>
  <div *ngIf="hasServerError()" class="content">
    <p class="text-center">Recarga la pagina</p>
    <p class="error">
      {{serverError.message}}
    </p>
  </div>
</ng-container>
<ng-template #Login>
  <div class="login-wrapper" [ngStyle]="getBackgroundColor()">
    <!-- START Login Background Pic Wrapper-->
    <div class="bg-pic">
      <!-- START Background Pic-->
      <ng-container *ngIf="hasBackgroundImage()">
        <img src="{{settingsService.getBackgroundLoginImage()}}"
          pgRetina src1x="{{settingsService.getBackgroundLoginImage()}}"
          src2x="{{settingsService.getBackgroundLoginImage()}}" 
          alt="" class="lazy">
      </ng-container>
      <!-- END Background Pic-->
      <!-- START Background Caption-->
      <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
        <h2 *ngIf="hasSettings()" [ngStyle]="getLoginTitleStyle()">
            {{settingsService.getLoginTitle()}}
        </h2>

        <p *ngIf="hasSettings()" [ngStyle]="settingsService.getLoginSubTitleStyle()">
            {{settingsService.getLoginSubTitle()}}
        </p>
      </div>
      <!-- END Background Caption-->
    </div>
    <!-- END Login Background Pic Wrapper-->
    <!-- START Login Right Container-->
    <div class="login-container bg-white">
      <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        <img *ngIf="hasSettings()" 
            src="{{settingsService.getLogo()}}" 
            alt="logo" pgRetina 
            src1x="{{settingsService.getLogo()}}" 
            src2x="{{settingsService.getLogo()}}"
             width="200" height="60">

        <p class="p-t-35"></p>
        <!-- START Login Form -->
        <form class="p-t-15" role="form" #loginForm="ngForm"  (ngSubmit)="login(loginForm)">
          <div *ngIf="error.status"  class="col-md-12 alert alert-danger d-flex align-items-center">
            {{error.message}}
          </div>
          <!-- START Form Control-->
          <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)">
            <label>Usuario</label>
            <input type="text" id="userName" name="userName" [(ngModel)]="userName"  #loginUserName="ngModel" required  placeholder="Nombre de usuario" class="form-control">
          </div>
          <div *ngIf="loginUserName.invalid && (loginUserName.dirty || loginUserName.touched)" >
            <label *ngIf="loginUserName.errors.required" class="error">
              Campo requerido.
            </label>
          </div>
          <!-- END Form Control-->
          <!-- START Form Control-->
          <div pgFormGroupDefault class="form-group form-group-default" [class.has-error]="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)">
            <label>Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" id="password" name="password" [(ngModel)]="password"  #loginPassword="ngModel" required>
          </div>
          <div *ngIf="loginPassword.invalid && (loginPassword.dirty || loginPassword.touched)" >
            <label  *ngIf="loginPassword.errors.required" class="error">
              Campo requerido.
            </label>
          </div>
          <!-- START Form Control-->
          <div class="row">
            <div class="col-md-12">
              <div class="form-group checkbox">
                <input type="checkbox" id="checkbox1" [checked]="remember"
                  name="remembered" [(ngModel)]="remember">
                <label for="checkbox1">
                  Recordar mis credenciales
                </label>
              </div>
            </div>
            <div class="col-md-6 p-0 m-t-20 m-b-20">
              <div class="form-group">
                <a routerLink="/session/reset"  class="text-info">
                  Olvidé mi contraseña
                </a>
              </div>
            </div>
            <div class="col-md-6 p-0 m-t-20 m-b-20">
              <div class="form-group">
                <!-- END Form Control-->
                <button class="btn btn-primary float-right" type="submit"
                  [ngStyle]="getBtnActionStyle()"
                  [class.disabled]="loginForm.invalid">
                  INGRESAR
                </button>
              </div>
            </div>
            <hr class="col-md-6 align-items-center m-t-20 m-b-20"/>
            <div class="col-md-12 p-0 m-t-20">
             <p>Si es la primera vez que ingresas, debes activarte primero.</p>
              <a routerLink="/session/activate"
                [ngStyle]="getBtnActionStyle()"
                class="btn btn-primary">
                ACTIVARME
              </a>
            </div>


          </div>
        </form>
        <!--END Login Form-->
        <div class="pull-bottom sm-pull-bottom">
          <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
            <!-- <div class="col-sm-3 col-md-2 no-padding">
              <img alt="" class="m-t-5" pgRetina src1x="{{settingsService.getLogo()}}"
                   src2x="{{settingsService.getLogo()}}" height="100%"
                   src="{{settingsService.getLogo()}}" width="100%">
            </div> -->
            <div class="col-sm-9 no-padding m-t-10">
              <!-- <p>
                <small>
                  Qavant es una herramienta licenciada. Para ver términos y condiciones dirigirse a
                  <a href="http://www.qavant.com" class="text-info" target="_blank">www.qavant.com</a>.
                </small>
              </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END Login Right Container-->
  </div>
</ng-template>


