<div class="register-container full-height sm-p-t-30">
    <div class="d-flex justify-content-center flex-column full-height">
      <h4 *ngIf='!validate.status'>
        Olvide mi contraseña
      </h4>
      <div *ngIf='validate.status' class="alert" [ngClass]="{
        'alert-warning': validate.type === 'warning',
        'alert-danger': validate.type === 'danger',
        'alert-success': validate.type === 'success',
        'alert-info': validate.type === 'info'}" role="alert">
        {{validate.message}}
      </div>
      <h5 *ngIf='!validate.status'>
        Para resetear la contraseña debes ingresar el usuario
      </h5>
      <ng-container *ngIf='validate.status'>
          <div *ngIf="validate.redirect">
            <a routerLink="/session/login"
            [ngStyle]="settingsService.getBtnActionStyle()"
            class="btn btn-primary float-right">Iniciar Sesión</a>
          </div>
        </ng-container>
      <form *ngIf="validate.form" (ngSubmit)="resetPassword()" #resetForm="ngForm">
          <div class="row">
              <div class="col-md-12">
                <div pgFormGroupDefault class="form-group form-group-default"
                [class.has-validate]="userName.invalid && (userName.dirty || userName.touched)">
                  <label>Usuario</label>
                  <input type="text" class="form-control" id="username"
                    name="username" [(ngModel)]="username" autocomplete="off"
                    #userName="ngModel" required>
                </div>
                <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" >
                    <label *ngIf="userName.required" class="validate" >
                      Campo Requerido
                    </label>
                </div>
              </div>
            </div>
            <button class="btn btn-primary btn-cons float-right"
                    [ngStyle]="settingsService.getBtnActionStyle()"
                    type="submit" [class.disabled]="resetForm.invalid">
                    Enviar
            </button>
            <a routerLink="/session/login"
            [ngStyle]="settingsService.getBtnCancelStyle()"
            class="btn btn-primary float-right m-r-10" role="button">
              Volver
            </a>
      </form>
    </div>
</div>
