<div *ngIf="entidad.tipo ==='NOTIC'">
    <qavant-card-noticia [entidad]="entidad"></qavant-card-noticia>
</div>
<div *ngIf="entidad.tipo ==='BENEF'">
    <qavant-card-beneficio-muro [entidad]="entidad"></qavant-card-beneficio-muro>
</div>
<div *ngIf="entidad.tipo ==='GALER'">
    <qavant-card-galeria [entidad]="entidad"></qavant-card-galeria>
</div>