﻿@model QavantWeb.Models.Galeria

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Galerías </h2>

<h3>¿Seguro que desea eliminar la siguiente galería?</h3>

<div>
    <h4></h4>
    <hr />
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
        </div>
        <div class="panel-body">
            <div class="container col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        @if (Model.ImagenPortada != null)
                        {
                            <dt class="col-md-2">
                                Imagen
                            </dt>

                            <dd class="col-md-10">
                                @if (Model.ImagenPortada != null)
                                {
                                    <img src="@Html.DisplayFor(model => model.ImagenPortada)" style="max-width:60%;max-height: 60%;" class="thumbnail" />
                                }
                            </dd>
                        }

                    </div> <!-- COL 1 -->
                    <div class="col-md-4">
                        <dt class="col-md-3">
                            Titulo
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Titulo)
                        </dd>
                        <dt class="col-md-3">
                            Subtítulo
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Copete)
                        </dd>
                        <dt class="col-md-3">
                            Categoría
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Categoria.Nombre)
                        </dd>
                        <dt class="col-md-3">
                            Destacada
                        </dt>
                        <dd class="col-md-9">
                            @Html.DisplayFor(model => model.Destacada)
                        </dd>
                    </div><!-- COL 2 -->

                </div>
            </div>
            </dl>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <a href="@Url.Action("Index", "Galerias", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
    <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>
}

