﻿@model QavantWeb.ViewModels.GaleriaViewModel

@{
    ViewBag.Title = "Edit";
}
<script src="~/Scripts/dropzone/dropzone.min.js"></script>
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/basic.min.css" rel="stylesheet" />

<h2>Galerías</h2>
<h4>Editar</h4>

@using (Html.BeginForm("UploadFiles", "Galerias", FormMethod.Post, new { id = "dropzoneForm", @class = "dropzone", enctype = "multipart/form-data" }))
{

}


@using (Html.BeginForm("Edit", "Galerias", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
        @Html.HiddenFor(model => model.Galeria.Id)
        @Html.HiddenFor(model => model.Galeria.EmpresaId)
        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.Titulo, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Galeria.Titulo, new { htmlAttributes = new { @class = "form-control titulo" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.Copete, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Galeria.Copete, new { htmlAttributes = new { @class = "form-control subtitulo" } })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label texto-label-left col-md-2"><b> Categoría</b></div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Galeria.CategoriaId, (SelectList)ViewBag.CategoriaId, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.FechaDesde, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Galeria.FechaDesde, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", placeholder = "Enter Title", id = "from_Id" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.FechaHasta, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Galeria.FechaHasta, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", placeholder = "Enter Title", id = "to_Id" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.ImagenPortada, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                @if (Model.Galeria.ImagenPortada != null)
                {
                    <img src="@Html.DisplayFor(model => model.Galeria.ImagenPortada)" id="Image" name="Image" alt="" style="max-width:200px;" class="thumbnail" />
                    <div id="borrar" style="display:block" class="form-file">
                        <input type="button" value="Eliminar foto" onclick="Borrar()" />
                    </div>

                    <div id="subirImg" style="display:none" class="form-file">
                        <input type="file" id="ImageFile" name="ImageFile" required />
                        <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Galeria.ImagenPortada)" />
                    </div>


                }
                else
                {
                    <div id="subirImg" style="display:block" class="form-file">
                        <input type="file" id="ImageFile" name="ImageFile" required />
                        <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Galeria.ImagenPortada)" />
                    </div>

                    <div id="borrar" style="display:none">
                        <input type="button" value="Eliminar foto" onclick="Borrar()" />
                    </div>

                    <img src="@Html.DisplayFor(model => model.Galeria.ImagenPortada)" id="Image" name="Image" alt="" style="max-width:200px; display:none;" class="thumbnail" />
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Galeria.Destacada, htmlAttributes: new { @class = "control-label texto-label-left col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Galeria.Destacada)
                </div>
            </div>
        </div>

        <hr />
        @Html.Partial("_Filtros", Model.FiltroConfig)
        <div class="form-group col-md-12">
            <hr />
            <a href="@Url.Action("Index", "Galerias")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button id="btn_guardar" type="submit" class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Cargando Galería"> Guardar </button>
        </div>


    </div>
}



@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <script src="~/Scripts/Pages/fechas-desde-hasta-validacion.js"></script>
    <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>

    <script type="text/javascript">
        var btnGuardar = false;
        var miDropForm;
        var miFileDropSize = false;
        var mensaje = "Tipo de archivo no permitido.";

        $("#btn_guardar").on('click', function () {
            btnGuardar = true;
            var isValid = true;
            var imgPortada = $('#Image').attr('src');

            if (imgPortada == "") {
                addToValidationSummary("Por favor, ingrese una imagen de portada.");
                isValid = false;
            }
            if (miDropForm.dropzone.element.length == 0) {
                addToValidationSummary("Por favor, ingrese al menos una imagen o video para la galería.");
                isValid = false;
            }
            if (miFileDropSize && miDropForm.dropzone.element.length == 1) {
                addToValidationSummary(mensaje + " Ingrese una nueva imagen o video para agregar a la galería.");
                isValid = false;
            }

            return isValid;
        });

        $(document).ready(function () {
            var cat = $("#Galeria_CategoriaId").val();
            var cmbCat = $("#Galeria_CategoriaId option").text();
            if (cmbCat.length < 12) {
                if (cat == "" || cat == undefined) {
                    var message = "<strong>No existe ninguna 'Categoría' para Galerías.</strong><br >Primero debe crear una Categoría en la sección Administración -> Categorías.";
                    $('#myAlert > ul').append('<li>' + message + '</li>');
                    return false;
                }
            }



            Dropzone.options.dropzoneForm = {
                maxFiles: 50,
                dictResponseError: 'Error en el servidor.',
                dictDefaultMessage: "Haga click o arrastre y suelte sus imágenes/videos aquí.",
                dictMaxFilesExceeded: "No se pueden cargar más de 50 archivos por galería.",
            //validaciones
            accept: function (file, done) {
                console.log(file);
                var mensaje = "Tipo de archivo no permitido.";
                var extensiones_permitidas = new Array("/gif", "/jpg", "/png", "/bmp", "/jpeg", "/mp4", "/mpg", "/mpeg", "/quicktime", "/mov");
                var extension = (file.type.substring(file.type.lastIndexOf("/"))).toLowerCase();
                var tipo_archivo = "";
                permitida = false;
                for (var i = 0; i < extensiones_permitidas.length; i++) {
                    if (extensiones_permitidas[i] == extension) {
                        permitida = true;
                        break;
                    }
                }
                if (extension == "/mp4" || extension == "/mpg" || extension == "/mpeg" || extension == "/quicktime") {
                    if (file.size > 8 * 1204 * 1024) {
                        permitida = false;
                        mensaje = "El archivo seleccionado no debe superar 8MB de tamaño.";
                        miFileDropSize = true;
                    }
                }
                else {
                    /*
                    if (file.size > 1 * 1204 * 1024) {
                        permitida = false;
                        mensaje = "El archivo seleccionado no debe superar 1MB de tamaño.";
                        miFileDropSize = true;
                    }
                    */
                }

                if (!permitida) {
                    done(mensaje);
                }
                else { done(); }
            },

            init: function () {
                var thisDropzone = this;
                thisDropzone.options.maxFiles = 50;
                thisDropzone.options.dictDefaultMessage = "Haga click o arrastre y suelte sus imágenes/videos aquí.";
                thisDropzone.options.dictMaxFilesExceeded = "No se pueden cargar más de 50 archivos por galería.";
                thisDropzone.options.dictFileTooBig = "El archivo es demasiado grande.";

                var submitButton = document.querySelector("#btn_guardar");
                miDropForm = document.querySelector("#dropzoneForm");
                submitButton.addEventListener("click", function () {
                    if (thisDropzone.files.length > 0) {
                        thisDropzone.processQueue();
                    }
                    else {
                        //addToValidationSummary("Por favor, ingrese al menos una imagen para la galería.");
                    }
                });
                $.getJSON("/Galerias/GetAttachments/").done(function (data) {
                    if (data.Data != '') {

                        $.each(data.Data, function (index, item) {
                            console.log(index);
                            console.log(item);
                            var self = this;
                            //// Create the mock file:
                            var mockFile = {
                                name: item.RutaArchivo,
                                size: item.Peso

                            };
                            //agregar una clase o imagen
                            if (item.MultimediaTipoId == 2) {
                                // This is not an image, so Dropzone doesn't create a thumbnail.
                                // Set a default thumbnail:
                                thisDropzone.emit("addedfile", mockFile);
                                thisDropzone.emit("thumbnail", mockFile, "/Content/Images/ImagenVideo.png");
                                thisDropzone.emit("complete", mockFile);
                            }
                            else {
                                // Call the default addedfile event handler
                                thisDropzone.emit("addedfile", mockFile); //

                                // And optionally show the thumbnail of the file:
                                //thisDropzone.emit("thumbnail", mockFile, item.Path);
                                thisDropzone.emit("thumbnail", mockFile, item.RutaArchivo);//
                                //thisDropzone.createThumbnailFromUrl(mockFile, item.RutaArchivo);

                                // Make sure that there is no progress bar, etc...
                                thisDropzone.emit("complete", mockFile);
                            // If you use the maxFiles option, make sure you adjust it to the
                            // correct amount:
                            //var existingFileCount = 1; // The number of files already uploaded
                            //myDropzone.options.maxFiles = myDropzone.options.maxFiles - existingFileCount;
                            }


                        });
                    }
                });


                //added
                thisDropzone.on("addedfile", function (file) {
                    //boton cargando
                    console.log('new file added ', file);
                    var $this = $("#btn_guardar");
                    $this.button('loading');                    
                    var removeButton = Dropzone.createElement("<button class='btn btn-danger btn-sm center-block' id='btnDzDelete'> Eliminar </button>");
                    var _this = this;  

                    removeButton.addEventListener("click", function (e) {
                        e.preventDefault();
                        e.stopPropagation();
                        var r = confirm("El archivo será eliminado de la galería guarde o no los cambios, ¿Desea eliminarlo de todas formas?");
                        if (r == true) {
                            //agregar un evento al btn delete para que haga una peticion al servidor
                            var myFile = {
                                nombre: file.name,
                                tipo: file.type,
                                peso: file.size
                            };
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("CancelUploadFile", "Galerias")',
                                dataType: "json",
                                data: myFile,
                                success: function(data){
                                    console.log(data);
                                },
                                error: function(error){
                                    console.log(error);
                                }
                            });
                            _this.removeFile(file);
                        }
                        else {
                            console.log("You pressed Cancel!");
                        }                       
                    });

                    //removeButton.addEventListener("click", function (e) {
                    //    e.preventDefault();
                    //    e.stopPropagation();

                    //    _this.removeFile(file);
                    //});
                    file.previewElement.appendChild(removeButton);
                });

                thisDropzone.on("queuecomplete", function (progress) {
                    $('.meter').delay(999).slideUp(999);
                    //console.log("queuecomplete ", progress);
                    console.log("Terminó de cargar toda la Galería!.");
                    var $this = $("#btn_guardar");
                    setTimeout(function () {
                        $this.button('reset');
                    });
                });

            }//#init
        };


        var stateBeenChanged = false;
        var cont = 0;

        window.onbeforeunload = function () {
            if (!miDropForm.dropzone.element.length == 0)
                stateBeenChanged = true;
            if (!miFileDropSize && miDropForm.dropzone.element.length == 1)
                stateBeenChanged = true;
            console.log("Cambió el estado: " + stateBeenChanged);
            if (stateBeenChanged) {
                if (!btnGuardar) {
                    return 'Seguro que desea continuar? Aún no ha guardado los cambios';
                }
            }
        }

        window.onunload = function () {
            cont++;
            leavePage();
        }
        window.addEventListener("unload", function () {
            cont++;
            leavePage();
        });

        $(window).unload(function () {
            cont++;
            leavePage();
        });

        $(window).on('unload', function () {
            cont++;
            leavePage();
        });

        function leavePage(txt) {
            if (stateBeenChanged && cont == 1) {
                var myEvent = {
                    mensaje: "Confirma que abandona la página. " + txt
                };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LeavePage", "Galerias")',
                    dataType: "json",
                    data: myEvent,
                    success: function (data) {
                        console.log(data + "abc 2");
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
                console.log("ajax" + txt);
            }
            console.log("no ajax" + txt);
        }



     });


        var uploadField = document.getElementById("ImageFile");
        uploadField.onchange = function () {
            validateImageSize(this);
            validateImageExtension(this);
        };
        function Borrar() {
            document.getElementById('Image').setAttribute("src", "");
            document.getElementById('borrar').style.display = 'none';
            document.getElementById('Image').value = "";
            document.getElementById('ImageFile').value = "";
            document.getElementById('Image').style.display = 'none';
            document.getElementById('subirImg').style.display = 'block';
            document.getElementById('foto').value = "";
            document.getElementById('ImageFile').style.display = 'block';
            debugger
            /**/
            var myFile = {
            nombre: file.name,
            tipo: file.type

            };
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteCoverPage", "Galerias")',
                dataType: "json",
                data: myFile,
                success: function (data) {
                    console.log(data);
                },
                error: function(error){
                    console.log(error);
                }
            });
        }

        $("#ImageFile").change(function () {
            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {
                    document.getElementById('Image').setAttribute("src", e.target.result);
                }
                reader.readAsDataURL($(this)[0].files[0]);

                document.getElementById('borrar').style.display = 'block';
                document.getElementById('Image').style.display = 'block';
                document.getElementById('ImageFile').style.display = 'none';
            }
        });



            //Dropzone.options.dropzoneForm = {
            //    init: function () {
            //        this.on("success", function (file, serverResponse) {
            //            // Called after the file successfully uploaded.

            //            // If the image is already a thumbnail:
            //            this.emit('thumbnail', file, serverResponse.imageUrl);

            //            // If it needs resizing:
            //            this.createThumbnailFromUrl(file, serverResponse.imageUrl);
            //        });
            //    }
            //};


    </script>
}
