﻿@model IEnumerable<QavantWeb.Models.Galeria>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-picture-o" aria-hidden="true"></i> Galerías </h2>

<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "Galerias")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Galería </a>
    <a href="@Url.Action("IndexDeleted", "Galerias")" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Galerías Eliminadas</a>
</div>
<table id="GaleriaList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Fecha desde
            </th>
            <th>
                Fecha hasta
            </th>
            <th>
                Imagen portada
            </th>
            <th>
                Destacada
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDesde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaHasta)
        </td>
        <td>
            @if (item.ImagenPortada != null)
            {
                <img src="@Html.DisplayFor(modelItem => item.ImagenPortada)" style="max-width:100px; max-height: 140px;" />
            }
        </td>
        <td>
            @if (item.Destacada)
            {
                <i class="fa fa-check-circle fa-2x fa-fw" style="color: #04B431;" aria-hidden="true"></i>
            }

        </td>
        <td>
            <a href="@Url.Action("Edit", "Galerias", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
            <a href="@Url.Action("Delete", "Galerias", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
        </td>
    </tr>
    }

</table>

<script>
$(document).ready(function () {
    $('#GaleriaList').DataTable({
        "order":[[0,"asc"]],
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Ningún registro disponible",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:",
            "processing": "Procesando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
});
</script>