﻿@model IEnumerable<QavantWeb.Models.Galeria>

@{
    ViewBag.Title = "PAGINAS";
}

<h2><i class="fa fa-picture-o" aria-hidden="true"></i> Galerías </h2>

<p>
    <a href="@Url.Action("Index", "Galerias")" class="btn btn-success"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver </a>
</p>
<table id="GaleriaList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Fecha desde
            </th>
            <th>
                Fecha hasta
            </th>
            <th>
                Imagen portada
            </th>
            <th>
                Destacada
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @if (item.ImagenPortada != null)
                {
                    <img src="@Html.DisplayFor(modelItem => item.ImagenPortada)" style="max-width:100px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destacada)
            </td>
            <td>               
                <a href="@Url.Action("Enable", "Galerias", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar la Galería nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }

</table>

<script>
$(document).ready(function () {
    $('#GaleriaList').DataTable({
        "order":[[0,"asc"]],
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Ningún registro disponible",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:",
            "processing": "Procesando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
});
</script>