﻿@model IEnumerable<QavantWeb.Models.ActionLog>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-area-chart" aria-hidden="true"></i> Tendencias</h2>
<hr />

<div id="container" style="height: 400px"></div><br />
<div></div><br />
<div id="containerSentimientos" style="height: 400px"></div>
<script>
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                stops: [
                    [0, 'rgb(242, 242, 242)']
                ]
            },
        },
        title: {
            text: 'Contenido con mayor reaccion'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                style: {
                    fontFamily: 'Tahoma'
                },
                rotation: -45
            }
        },
        yAxis: {
            title: {
                text: 'Cantidad de reacciones'
            }
        },

        plotOptions: {
            series: {
                pointStart: Date.UTC(2019, 0, 1),
                pointInterval: 24 * 3600 * 1000 // one day
            }
        },

        series: [{
            name: 'Día de Spa',
            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 33, 44, 55, 62, 47, 8]
        }, {
            name: 'Gimnasio 20%',
            data: [144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 29.9, 71.5, 106.4, 129.2, 29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 3, 4, 5, 6, 7, 8]
        }, {
            name: 'Días de campo',
            data: [144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 29.9, 71.5, 106.4, 129.2, 29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 3, 4, 45, 26, 67, 28]
        }]
    });


    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'containerSentimientos',
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 1, y2: 1 },
                stops: [
                    [0, 'rgb(242, 242, 242)']
                ]
            },
        },
        title: {
            text: 'Tenendencias de sentimientos'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                style: {
                    fontFamily: 'Tahoma'
                },
                rotation: -45
            }
        },
        yAxis: {
            title: {
                text: 'Cantidad de sentimientos'
            }
        },

        plotOptions: {
            series: {
                pointStart: Date.UTC(2019, 0, 1),
                pointInterval: 24 * 3600 * 1000 // one day
            }
        },

        series: [{
            name: 'Día de Spa',
            data: [2, 7, 10, 12, 1, 1, 13, 1, 21, 11, 95, 54, 29, 71, 106, 129, 144, 176, 135, 148, 24, 19, 95, 54, 33, 44, 55, 62, 47, 8]
        }, {
            name: 'Gimnasio 20%',
            data: [14, 176, 136, 145, 214, 191, 96, 54, 29, 75, 104, 122, 29, 75, 14, 12, 10, 10, 136, 145, 214, 11, 96, 54, 3, 4, 5, 6, 7, 8]
        }, {
            name: 'Días de campo',
            data: [144.0, 170, 136, 145, 214, 11, 956, 544, 299, 715, 104, 12, 29, 715, 104, 122, 10, 10, 16, 145, 214, 191, 96, 54, 3, 4, 45, 26, 67, 28]
        }]
    });


</script>