img{
    width: 100%;
}

div.birthday-header,
div.vertical-card-header,
div.horizontal-card-header
{
    border-bottom: 1px solid #e6e6e6;
    h2 {
        font-size: 14px !important;
        padding: 0px;
        margin: 0px;
        margin-left: 5px;
        color: #626262;
        i{
          font-size: 8px;
          top: 0;
          margin-top: 17px;
          margin-left: 5px;
          position: absolute;
        }
        span{
            right: 0;
            position: absolute;
            font-size: 11px;
            margin-right: 5px;
            color: #aeaeae;
        }
    }
}

hr{
    margin: 0;
    padding: 0px 8px 0px 8px;
    // width: 100%;
}

// div.swiper-slide{
//     width: 100% !important;
// }


div.vertical-card{
  div.image{
    // background-color: #aeaeae;
    // min-height: 200px;
    // overflow: hidden;
    margin-bottom: 10px;
    img{
        cursor: pointer;
        // height: 200px;
        object-fit: cover !important;
    }
  }
  div.body{
    padding: 0px 8px 0px 8px;
    // h3 view config.json cardTitle
    h3, h4{
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h4{
        font-size: 14px;
        line-height: 1.5;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0px;
    }
  }
}
div.horizontal-card-footer,
div.vertical-card-footer{
    padding: 0px 8px 0px 8px; 
}

div.horizontal-card{
    div.body{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        div.icon,
        div.text{
            padding: 8px;      
        }
        div.icon{
            width: 20%;
            p{
                text-align: center;
                margin: 0px;
            }
        }
        div.birthday{
            width: 35%;
            p{
                text-align: center;
                margin: 0px;
            }
            img{
                object-fit: cover !important;
                width: 70px;
                height: 70px;
            }
        }
        div.text{
            width: 80%;
            // h3 view config.json
            h4{
                margin: 0px;
                font-size: 14px;
                color: #626262;
                line-height: 1.2 !important;
            }
        } 
    }
    div.horizontal-card-footer{
        min-height: 35px;
    }
}
