<div  class="card">
    <img class="img-style" src="{{entidad?.imagen}}" />

    <div class="content-body">
        {{entidad?.titulo | truncate:32}}
    </div>

    <div class="content-puntos">
        {{entidad?.puntos}} pts
    </div>
</div> 