qavant-card-beneficio {
    .card{
        border-radius: 5px;
        padding-bottom: 5px;
        background-color: white;
        height: auto;
    }
    .img-style{
        border-radius: 5px;
        padding-bottom: 5px;
        width: 100%;
        
    }
    .content-puntos{
        background: #e20614;
        color: white;
        width: 80px;
        text-align: right;
        position: absolute;
        top: 22px;
        right: 2px;
        padding-right: 5px;
        font-family: Roboto;
        font-size: 14px;
        height: 21px;
        padding-top: 2.5px;
        font-weight: 300;
    }
    .content-body{
        color: rgb(36, 36, 36);
        font-family: Roboto;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: -0.5pt;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
