<qavant-header title="{{ beneficio?.titulo }}"></qavant-header>

<ion-content class="content">
    <div *ngIf="isReady">
        <div class="content-img"><img class="imagen" src="{{beneficio?.imagen}}" /></div>
        
        <div class="card">
            <div class="titulo">{{beneficio?.titulo | truncate:58}}</div>
    
            <div class="cuerpo">
                <div class="puntos">{{ beneficio.puntos }} puntos</div>
                <div class="label">Descripción</div>
                <div class="texto" [innerHTML]="beneficio?.contenido | safe"></div>
            </div>
            
        </div>

        <div class="boton" (click)="canjear()">CANJEAR</div>

        
    </div>


</ion-content>



