page-benefits-detail {
    h1{
        float: none !important;
    }
    .content{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 48px;
        padding: 0px;
        background-color: rgb(228, 228, 228);
        border: 0px;   
    }
    .content-img{
        text-align: center;
        width: 100%;
        background-color: white;
        border: none;
        max-height: 240px;
    }
    .imagen{
        margin: 0px;
        padding: 0px;
        padding: 0px;
        border: none;
        height: 240px;
    }
    .card{
        margin-top: 8px;
        background-color: white;
        border: 1px solid rgb(216, 216, 216);
        height: auto;
        margin-bottom: 8px;
    }
    .titulo{
        font-size: 24px;
        font-weight: 600;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 10px;
        font-family: Roboto;
    }
    .puntos{
        color: #e20614;
        font-size: 45px;
        margin-left: 10px;
        margin-top: 10px;
    }
    .label{
        font-size: 18px;
        margin-top: 10px;
        margin-left: 10px;
        font-weight: 500;
        font-family: Roboto;
    }
    .texto{
        font-size: 17px;
        font-family: Roboto;
        font-weight: 400;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .boton{
        width: 100%;
        height: 45px;
        background-color: #e20614;
        text-align: center;
        color: white;
        font-size: 15px;
        margin-bottom: 58px;
        padding-top: 10px;
    }
}
