<qavant-header title="Completar datos"></qavant-header>
<ion-content padding>
    <div *ngIf="isReady">
      <div class="content-header">
          <h1>{{survey?.title | truncate:70}}</h1>
          <div class="copete">{{survey?.description}}</div>
          <p><em>(*) Pregunta obligatoria.</em></p>
        </div>
      
        <div class="content-body">
          <form (ngSubmit)="guardarForm()">
            <div *ngFor="let question of survey?.questions">           
      
              <ion-list radio-group *ngIf="question?.questionTypeId == 'OPTION'" [(ngModel)]="question.answerOptionId" [ngModelOptions]="{standalone: true}">
                <ion-list-header [class.red]="answerRequiredErrorMessage && question?.required">
                    <h2>{{question?.question}}</h2>
                    <span ngDefaultControl *ngIf="answerRequiredErrorMessage && question?.required" name='answerRequiredErrorMessage' [(ngModel)]="answerRequiredErrorMessage" class="red">(*) </span>
                </ion-list-header>      
                <ion-item *ngFor="let option of question?.options">
                  <ion-label>{{option?.description}}</ion-label>
                  <ion-radio value="{{option?.id}}"></ion-radio>
                </ion-item>
              </ion-list>
      
              <ion-list *ngIf="question?.questionTypeId == 'MULTIPLE'">
                  <ion-list-header [class.red]="answerRequiredErrorMessage && question?.required">
                      <h2>{{question?.question}}</h2>
                      <span ngDefaultControl *ngIf="answerRequiredErrorMessage && question?.required" name='answerRequiredErrorMessage' [(ngModel)]="answerRequiredErrorMessage" class="red">(*) </span>
                  </ion-list-header>          
                  <ion-item *ngFor="let option of question?.options">
                    <ion-label>{{option?.description}}</ion-label>
                    <ion-checkbox color="secondary" [(ngModel)]="option.answerSelected" [ngModelOptions]="{standalone: true}"></ion-checkbox>
                  </ion-item>
              </ion-list>
              
              <ion-list>
                <ion-item *ngIf="question?.questionTypeId == 'DATE'">
                  <ion-label [class.red]="answerRequiredErrorMessage && question?.required">
                    <h2>{{question?.question}}</h2>
                    <span ngDefaultControl *ngIf="answerRequiredErrorMessage && question?.required" name='answerRequiredErrorMessage' [(ngModel)]="answerRequiredErrorMessage" class="red">(*) </span> 
                  </ion-label>                 
                  <ion-datetime displayFormat="DD/MMM/YYYY" [(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}" placeholder="día/mes/año"></ion-datetime>
                </ion-item>
              </ion-list>
      
              <ion-list *ngIf="question?.questionTypeId == 'DROPDOWN'"> 
                  <ion-item>
                    <ion-label [class.red]="answerRequiredErrorMessage && question?.required">
                      <h2>{{question?.question}}</h2>
                      <span ngDefaultControl *ngIf="answerRequiredErrorMessage && question?.required" name='answerRequiredErrorMessage' [(ngModel)]="answerRequiredErrorMessage" class="red">(*) </span>
                    </ion-label>            
                    <ion-select [(ngModel)]="question.answerOptionId" [ngModelOptions]="{standalone: true}">              
                      <ion-option *ngFor="let option of question?.options" value="{{option?.id}}">{{ option?.description }}</ion-option>
                    </ion-select>
                  </ion-item>         
              </ion-list>  
              
              <ion-list>
                <ion-item *ngIf="question?.questionTypeId == 'TEXTAREA'">
                  <ion-label [class.red]="answerRequiredErrorMessage && question?.required">
                    <h2>{{question?.question}}:</h2>
                    <span ngDefaultControl *ngIf="answerRequiredErrorMessage && question?.required" name='answerRequiredErrorMessage' [(ngModel)]="answerRequiredErrorMessage" class="red">(*) </span>
                  </ion-label>          
                  <ion-textarea [(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}" placeholder="Escribí tu comentario acá..."></ion-textarea>
                </ion-item>
              </ion-list>
      
              <ion-list>
                <ion-item *ngIf="question?.questionTypeId == 'TEXT'">
                  <ion-label [class.red]="answerRequiredErrorMessage && question?.required">
                    <h2>{{question?.question}}:</h2>
                    <span ngDefaultControl *ngIf="answerRequiredErrorMessage && question?.required" name='answerRequiredErrorMessage' [(ngModel)]="answerRequiredErrorMessage" class="red">(*) </span>
                  </ion-label>          
                  <ion-input [(ngModel)]="question.answer" [ngModelOptions]="{standalone: true}" placeholder="Escribí aquí..."></ion-input>
                </ion-item>
              </ion-list>        
      
            </div>
            <div class="btnSend"> 
              <button ion-button type="submit" block>Enviar</button>
            </div>
            
          </form>
        </div>
    </div>
</ion-content>