<ion-card  class="q-card">
    <ion-card-header>
        <div class="metadata">
            <span class="type">NOTICIA</span>
            <span class="date">{{entidad?.fechaAlta}}</span>
        </div>          
    </ion-card-header>
    <img src="{{entidad?.imagen}}" (click)="goToDetail(entidad)" />
    <ion-card-content> 
        <div class="content-header">
            <h2 (click)="goToDetail(entidad)">{{entidad?.titulo | truncate:70}}</h2>
        </div>
        <div class="content-body">
            <div class="short-description">{{entidad?.copete | truncate:175}}</div>
        </div>
        
    </ion-card-content>
</ion-card>