<div class="box">
    <ion-grid>
        <ion-row>
            <ion-col class="aling-l size-1">
                Mis Puntos<br>
                {{ nombre }}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="aling-l size-2">
                {{ puntos }}
            </ion-col>
        </ion-row>
    </ion-grid>
</div>