qavant-card-puntos-muro {
    
    .box{
        background-color: #e20614;
        color: white;
        height: 100%;
        border-radius: 15px;
        padding: 10px;
        margin: 10px;
    }
    .img-logo{
        width: 45px;
        height: 45px;
    }
    .aling-r{
        text-align: right;
    }
    .aling-l{
        text-align: left;
    }
    .aling-c{
        text-align: center;
    }
    .size-0{
        font-size: 15px;
    }
    .size-1{
        font-size: 23px;
        line-height: 25px;
        font-weight: 600;
    }
    .size-2{
        font-size: 34px;
        font-weight: 700;
    }
}
