qavant-card-galeria {
    ion-slides {
        .slide-zoom{
            height: 210px;
            img {
                display: inline-block;
            }
        }
        ion-slide.swiper-slide{
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .swiper-container {
            padding-bottom: 15px;
        }
        .swiper-container-horizontal > .swiper-pagination-bullets {
            bottom: -3px;
        }
        .more {
            padding: 10px;
            position: absolute;
            top:0;
            right: 0;
            color:white;
            background-color: rgba(0,0,0,.3);
        }
    }
}