<qavant-header ></qavant-header>
<ion-content>
  <div *ngIf="isReady">
    <ion-slides class="mt-1" pager="true" slidesPerView="1.07">
      <ion-slide *ngFor="let card of tipoCatalogoUsuario">
          <qavant-card-puntos-muro nombre="{{ card.tipoCatalogo.descripcion }}" puntos="{{ card.puntosAcumulados }}"></qavant-card-puntos-muro>
      </ion-slide>
    </ion-slides>
    
    <!--<div class="forms" *ngIf='formularios?.length > 0'>  
      <h2>Formularios</h2>
      <a class="view-all" (click)="goToFormularioGenericoList()">Ver todos</a>

      <ion-slides slidesPerView="5" spaceBetween="10">
        <ion-slide *ngFor="let form of formularios" (click)="goToFormulario(form)">
          <div class="swiper-zoom-container">
            <img src="assets/img/file.svg">
          </div>
          <ion-label>{{form?.title | truncate:16}}</ion-label>
        </ion-slide>
      </ion-slides>
    </div>-->
    
    <ion-list>
      <div *ngFor="let item of muroList">
        <qavant-card-publicacion [entidad]="item"></qavant-card-publicacion>
      </div>
    </ion-list>
  </div>
</ion-content>