<pg-container>
    <h2 [ngStyle]="settingService.getTitleStyle()">
        TÉRMINOS Y CONDICIONES
    </h2>
  <div class="card" [@enterAnimation]="_isLoading == true ?'loading':'ready'">
    <div class="card-header">
    </div>
    <div class="card-body">
      <p>
        Ex-Clé sa Soluciones Biométricas establece que los contenidos de esta aplicación son CONFIDENCIALES y podrían causar daño a la empresa si es dada a conocer a nuestros competidores o personas externas a la misma. Los datos presentados contienen secretos técnicos, comerciales e información propietaria, privilegiada y confidencial. Tales datos se presentan únicamente a los efectos de la comunicación y uso interno, incluyendo recursos, documentos, procesos, estructuras, ideas, noticias, beneficios, etc.
      </p>

      <p>
        Los datos incorporados en los campos de información personal son tratados únicamente con el fin de prestarle servicios al empleado y enviarle la información acerca de la empresa que pueda ser de su interés.
      </p>
      <p>
        Queda prohibida la reproducción, transmisión, transcripción, grabado en algún otro sistema, o traducción a otro idioma, ya sea en forma parcial o total sin el consentimiento escrito de Ex-Clé sa Soluciones Biométricas.
      </p>
    </div>
  </div>
</pg-container>
