// Theme overrides
.icon-thumbnail {
    background-color: transparent !important;
}

.page-sidebar .sidebar-menu .menu-items>li ul.sub-menu>li .icon-thumbnail {
    background: transparent;
}

.completer-dropdown{
  //  display: block;
   position: fixed !important;
}
