﻿@model IEnumerable<QavantWeb.Models.ActionLog>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-list" aria-hidden="true"></i> Reportes</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Actividad</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="control-label col-md-2"><b>Sección</b></div>
            <div class="col-md-10">
                @Html.DropDownList("SectionId", null, htmlAttributes: new { @class = "form-control" })
               
            </div>
        </div>

        @*<div class="form-group">
            <div class="control-label col-md-2"><b>Usuario</b></div>
            <div class="col-md-10">
                @Html.DropDownList("User_Id", null, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.User_Id, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group" id="BeneficioGroup">
            <div class="control-label col-md-2"><b>Producto</b></div>
            <div class="col-md-10">
                @Html.DropDownList("BenefitId", null, htmlAttributes: new { @class = "form-control" })
               
                
            </div>
        </div>

        <div class="form-group" id="NoticiaGroup">
            <div class="control-label col-md-2"><b>Noticia</b></div>
            <div class="col-md-10">
                @Html.DropDownList("NewsId", null, htmlAttributes: new { @class = "form-control"})
             
            </div>
        </div>

        <div class="form-group" id="LogTypeGroup">
            <div class="control-label col-md-2"><b>Tipo de acción</b></div>
            <div class="col-md-10">
                @Html.DropDownList("ActionLogTypeId", null, htmlAttributes: new { @class = "form-control" })
               
            </div>
        </div>

        <div class="form-group" id="boton">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-primary" />             
            </div>
        </div>

    </div>

    <hr />

    <table id="ActionLogList" class="table hover display compact stripe">
        <thead>
            <tr>
                <th>
                    Acción
                </th>
                <th>
                    Sección
                </th>
                <th>
                    Nombre y Apellido
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Título
                </th>
            </tr>
        </thead>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActionLogType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Section.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Surname),  @Html.DisplayFor(modelItem => item.User.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemTitle)
                    </td>
                </tr>
            }
</table>

}




<script>
    $(document).ready(function () {        
        $("#BeneficioGroup").hide();
        $("#NoticiaGroup").hide();

        switch ($("#SectionId").val()) {
            case "1":
                $("#BeneficioGroup").show();
                break;
            case "2":
                $("#NoticiaGroup").show();
                break;
        }
        $("#LogTypeGroup").show();

        $("#SectionId").change(function () {
            $("#BeneficioGroup").hide();
            $("#NoticiaGroup").hide();
            $("#tabla").hide();
          
            switch ($("#SectionId").val()) {
                case "1":
                    $('#BenefitId').val("0");
                    $("#BeneficioGroup").show();
                    break;
                case "2":
                    $('#NewsId').val("0");
                    $("#NoticiaGroup").show();
                    break;
            }                     
        });
   
       
    });

    $('#ActionLogList').DataTable({
        "order": [[2, "desc"]],
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "Ningún registro disponible",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:",
            "processing": "Procesando...",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
        },
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });

</script>
