<!-- START CONTAINER FLUID -->
<pg-container extraHorizontalClass="bg-white" extraClass="bg-white">
  <h1 [ngStyle]="settingsService.getTitleSectionStyle()">
    DOCUMENTOS
  </h1>

  <div class="day" data-social="day" [@enterAnimation]="!hasDocuments() == true ? 'loading':'ready'">

    <div class="gallery">
      <div class="gallery-filters p-t-20 p-b-10">
        <ul class="list-inline text-right">
          <li *ngIf="!showAll" class="active text-master p-r-5 p-l-5"
            (click)=getAll()>Todos</li>
          <li>
            <button class="btn btn-primary m-l-10"
            [ngStyle]="{'background-color': settingsService.getPrimaryColor(), 'border-color': settingsService.getPrimaryColor()}"
            (click)="slideRight.show()">Filtrar</button>
          </li>
        </ul>
      </div>
  </div>

    <div class="table-responsive">
      <ngx-datatable
        class='table table-hover'
        [rows]="documents"
        [columnMode]="columnModeSetting"
        [headerHeight]="43"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="15"
        [selected]="selected"
        [selectionType]="'checkbox'"
        [scrollbarH]="scrollBarHorizontal"
        (activate)="onActivate($event)"
        (select)='onSelect($event)'>
        <!-- <ngx-datatable-column [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false" cellClass="d-flex align-items-center">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
            <button class="btn btn-link"><i class="pg pg-trash"></i>
            </button>
          </ng-template>
          <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <div class="checkbox d-flex align-items-center">
              <input type="checkbox" value="1" id="checkbox_1{{rowIndex}}"  [checked]="isSelected" (change)="onCheckboxChangeFn($event)">
              <label for="checkbox_1{{rowIndex}}"></label>
              </div>
            </ng-template>
          </ngx-datatable-column> -->


            <ngx-datatable-column name="Tipo"  prop="icon" cellClass="d-flex align-items-center"></ngx-datatable-column>
            <ngx-datatable-column name="Título" prop="Title" cellClass="d-flex align-items-center"></ngx-datatable-column>
            <!--<ngx-datatable-column name="Place" cellClass="d-flex align-items-center">-->
              <!--<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
                <!--<a href="javascript:;" *ngFor="let value of row.places" class="btn btn-tag">{{value}}</a>-->
                <!--</ng-template>-->
                <!--</ngx-datatable-column>-->
            <ngx-datatable-column
              name="Descripción"
              prop="Description"
              [draggable]="false"
              [checkboxable]="false"
              [sortable]="false" cellClass="d-flex align-items-center"></ngx-datatable-column>
                <!-- <ngx-datatable-column name="Tipo" prop="FileTypeLabel" cellClass="d-flex align-items-center"></ngx-datatable-column> -->
            <ngx-datatable-column name="Descargar" prop="Link" [sortable]="false" cellClass="d-flex align-items-center download"></ngx-datatable-column>
          </ngx-datatable>
      </div>
  </div>

</pg-container>

<!-- MODAL STICK UP SMALL ALERT -->
<div bsModal #slideRight="bs-modal" class="modal filters-modal fade slide-right" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content-wrapper">
        <div class="modal-content">

          <div class="padding-40 ">
            <a (click)="slideRight.hide()" class="filter-close quickview-toggle pg pg-close" href="javascript:void(0)"></a>
            <form class="" role="form">

              <h5 class="all-caps font-montserrat fs-12 m-b-20 m-t-25">Filtrar por</h5>

              <div class="radio radio-danger">

                <ng-container *ngFor="let cat of categories">
                  <input type="radio" (click)="filterBy(cat.Id)"
                  value="{{cat.Id}}"
                  name="filter" id="{{cat.Id}}">
                  <label for="{{cat.Id}}" innerHTML="{{cat.nameFormat}}"></label>
                  <br>
                </ng-container>
                <input type="radio" (click)="getAll()"  name="filter" id="todos">
                <label for="todos">Todos</label>

              </div>
              <!--<h5 class="all-caps font-montserrat fs-12 m-b-20 m-t-25">Price range</h5>-->
              <!-- <pg-slider name="filter-slider" Range [Color]="'danger'" [Step]="10" [DefaultValue]="[20, 50]"></pg-slider> -->
              <!-- <button (click)="slideRight.hide()" class="pull-right btn btn-danger btn-cons m-t-40">Aplicar</button> -->
            </form>
          </div>

        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
  <!-- END MODAL STICK UP SMALL ALERT -->



