<qavant-header title="Mi Perfil"></qavant-header>

<ion-content class="background">
  <div *ngIf="isReady">
    <div class="card">
      <ion-slides class="mt-1" pager="true" slidesPerView="1.07">
        <ion-slide *ngFor="let card of tipoCatalogoUsuario">
            <qavant-card-puntos nombre="{{ card.tipoCatalogo.descripcion }}" fondo="{{ card.tipoCatalogo.fondoCatalogo }}" puntos="{{ card.puntosAcumulados }}" fecha="{{ card.fechaActualizacionPuntos }}"></qavant-card-puntos>
        </ion-slide>
      </ion-slides>

      <ion-list>
        <ion-item>
            <ion-icon class="mr-1 align" name="custom-mail"></ion-icon>
            {{userProfile?.email}}
        </ion-item>
        <ion-item>
          <ion-icon class="mr-1 align" name="custom-cell"></ion-icon>
          {{userProfile?.mobile}}
        </ion-item>
      </ion-list>
    </div>
    
    <div class="card mt-1">
      <h2 text-center>Cambiar contraseña</h2>
      <form (ngSubmit)="editPassword()" [formGroup]="editPasswordForm">
        <ion-list inset>
          <div class="seePassword">
            <ion-item [ngClass]="{ invalid: currentPasswordErrors.hasError('*', ['touched']) }">
              <ion-input type="password" placeholder="Contraseña actual" formControlName="currentPassword"></ion-input>    
            </ion-item>
            <a class="revealPassword" href="#"> <!-- <span class="icon-eye"></span> --> </a>
          </div>
            <div ngxErrors="currentPassword" #currentPasswordErrors="ngxErrors">
              <div class="validation" [ngxError]="['password', 'required']" [when]="['touched']">Campo requerido</div>
            </div>
          <div class="seePassword">
            <ion-item [ngClass]="{ invalid: newPasswordErrors.hasError('*', ['touched']) }">
              <ion-input type="password" placeholder="Nueva contraseña" formControlName="newPassword"></ion-input>
            </ion-item>
            <a class="revealPassword" href="#"> <!-- <span class="icon-eye"></span> --> </a>
          </div>
            <div ngxErrors="newPassword" #newPasswordErrors="ngxErrors">
              <div class="validation" [ngxError]="['password', 'required']" [when]="['touched']">Campo requerido</div>
            </div>
            <div class="seePassword">  
            <ion-item [ngClass]="{ invalid: confirmPasswordErrors.hasError('*', ['touched']) }">
                <ion-input type="password" placeholder="Confirmar nueva contraseña" formControlName="confirmPassword"></ion-input>
            </ion-item>
            <a class="revealPassword" href="#"> <!-- <span class="icon-eye"></span> --> </a>
          </div>
            <div ngxErrors="confirmPassword" #confirmPasswordErrors="ngxErrors">
                <div class="validation" [ngxError]="['password', 'required']" [when]="['touched']">Campo requerido</div>
            </div>
            <p *ngIf="editPasswordForm.errors?.doesMatchPassword">Las contraseñas no coinciden</p>
      
        </ion-list>

        <div class="btnSend">
          <button ion-button full type="submit" [disabled]="!editPasswordForm.valid">Confirmar</button>
        </div>              
      </form>
    
    </div>

  </div>
</ion-content>


