page-profile {
    .mt-1{
        margin-top: 10px;
    }
    .mr-1{
        margin-right: 10px;
    }

    .swiper-pagination-bullet-active {
        background: white !important;
    }

    .card{
        border: 1px solid rgb(216, 216, 216);
        background-color: white;
    }

    .align{
        position: relative;
        bottom: -4px;
    }

    .background{
        background-color: rgb(241, 241, 241);
    }

    ion-item{
        font-family: Roboto;
        font-weight: 700;
    }
}
