﻿@model QavantWeb.Models.Familiare
@{
    ViewBag.Title = "Create";
    var myUserId = ViewData["myUserId"];
}
<h2>Datos familiares</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
        <div class="form-group">
            <div class="control-label col-md-2"> Nombre</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Apellido</div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">Vínculo</div>
            <div class="col-md-10">
                @Html.DropDownList("VinculoCatalogoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VinculoCatalogoId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">Fecha de nacimiento</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaNacimiento, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", type = "date", id = "fecha_nac" })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2">Género</div>
            <div class="col-md-10">
                @Html.DropDownList("GeneroCatalogoId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GeneroCatalogoId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-12">
            <hr />
            <a href="@Url.Action("Index", "Familiares", new {id = myUserId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button type="submit" class="btn btn-primary" id="btn_guardar"> Guardar </button>
        </div>
    </div>
}

@section Scripts {
    <!-- Validación de fecha de nacimiento  -->
    <script src="~/Scripts/Pages/fecha-nac-validacion.js"></script>
    <script src="~/Scripts/Pages/validation-summary.js"></script>
}

<script>
    $(document).ready(function () { $("#myAlert").alert().hide(); });
</script>