﻿@model IEnumerable<QavantWeb.Models.Familiare>
@{
    ViewBag.Title = "Index";
    var UserId = ViewData["UserId"];
}
<h2>Datos familiares</h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "Familiares", new { id = UserId })" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo </a>
</div>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                Vínculo
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th>
                Género
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Catalogo1.DescripcionLarga)
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.FechaNacimiento, "{0:dd-MM-yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Catalogo.DescripcionLarga)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Familiares", new { id = item.Id, uId = UserId })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                    <a href="@Url.Action("Delete", "Familiares", new { id = item.Id, uId = UserId })" onclick="javascript: return confirm('¿Confirma que desea eliminar este dato?');" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </table>
}
<hr />
<div>
    <a href="@Url.Action("Edit", "Users", new {id = UserId})" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
</div>
