
  <div class="container">
      <div class="card-body">
        <div class="row" [@enterAnimation]="_isLoading ?'loading':'ready'">

          <div *ngIf="!_isLoading" class="col-lg-8">
            <div class="card">
              <div class="card-header">

                <h1 [ngStyle]="{color: settingsService.getPrimaryColor()}">
                    {{information.Titulo}}
                </h1>

              </div>
              <div class="card-body">
                <ng-container *ngIf="hasImage()">
                  <img src="{{information.Imagen}}" alt="{{information.Titulo}}" class="card-img">
                </ng-container>
                  <h2>{{information.Copete}}</h2>
                <!-- <div class="card-footer text-muted">
                  <span></span>
                </div> -->
                <div [innerHtml]="information.Html"></div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <h2 [ngStyle]="settingsService.getTitleSectionStyle()">
              Más Información
            </h2>
            <ng-container *ngFor="let info of allInformations; index as i">


                    <div class="card">
                      <div class="row">
                        <div class="col-sm-3 d-flex align-items-center image">
                          <p class="icon" (click)="goToInformation(info.Id)">
                            <span>
                                <i class="fas fa-info-circle"></i>
                            </span>
                          </p>
                        </div>
                        <div class="col-sm-9 info">
                          <h3 [ngStyle]="settingsService.getCardTitleStyle()"
                            (click)="goToInformation(info.Id)">
                            {{info.Titulo | truncate: 70}}
                          </h3>
                          <p>{{info.Copete | truncate: 90}}</p>
                        </div>
                      </div>
                    </div>

<!--
                <div *ngIf="validate(i, info.Id)" class="card"
                    (click)="goToInformation(info.Id)" [@enterAnimation]="_isLoading ?'loading':'ready'">
                    <div class="card-header">
                      <h2 [ngStyle]="settingsService.getCardTitleStyle()">
                        {{info.Titulo}}
                      </h2>
                      <p>{{info.Copete}}</p>
                    </div>
                </div> -->

            </ng-container>
          </div>
        </div>
      </div>
    </div>

