@import "../../../styles.scss";

@include mq($from: mobile) {
}

@include mq($from: tablet) {

}
h1{
  font-size: 22px;
  line-height: 1.2;
}
h2{
  font-size: 16px;
}
@include mq($from: desktop) {
  div.card{
    padding: 10px;
    min-height: 80px !important;
    div.row div{
      min-height: 80px !important;
    }
    p.icon{
      cursor: pointer;
      span i{
        font-size: 35px;
        margin-left: 10px;
      }
    }

    div.image{
      padding-right: 0px;
    }

    div.info{
      padding-left: 0px;
      h2{
        font-size: 16px;
        font-weight: 600;
        line-height: 1.2;
        cursor: pointer;
      }
      p{
        font-size: 13px;
        line-height: 1.4;
      }
      span.poll-done{
        font-size: 14px;
        color: #28a745;
        bottom: 0 !important;
        position: absolute;
      }
    }
  }
}

@include mq($from: wide) {

}
