﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1 class="text-danger">@ViewBag.Title</h1>
    <h2 class="text-danger">@ViewBag.Description</h2>
</body>
</html>