<qavant-header title="Catálogos"></qavant-header>

<ion-content class="">
    <div *ngFor="let card of tipoCatalogoUsuario" class="card">
        <qavant-card-puntos-catalogo id="{{card.tipoCatalogo.id}}" img="{{ card.tipoCatalogo.iconoCatalogo }}" puntos="{{ card.puntosAcumulados }}"></qavant-card-puntos-catalogo>
    </div>
</ion-content>