﻿@model QavantWeb.Models.Estudio

@{
    ViewBag.Title = "Delete";
    var uId = ViewData["uId"];
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Estudio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstudioCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstudioCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo.DescripcionLarga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo.DescripcionLarga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Establecimiento.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Establecimiento.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
    <a href="@Url.Action("Index", "Estudios", new {id = uId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
</div>
