﻿@model QavantWeb.Models.Estudio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estudio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaDesde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDesde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstudioCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstudioCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Catalogo.DescripcionLarga)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catalogo.DescripcionLarga)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Establecimiento.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Establecimiento.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
