﻿@model QavantWeb.Models.Estudio

@{
    ViewBag.Title = "Edit";
    var myUserId = ViewData["myUserId"];
    var uId = ViewData["uId"];
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Estudio</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
        @Html.HiddenFor(model => model.Id)


        <div class="form-group">
            <div class="control-label col-md-2"> Estudios </div>
            <div class="col-md-10">
                @Html.DropDownList("TipoEstudioCatalogoId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Título </div>
            <div class="col-md-10">
                @Html.DropDownList("TituloId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Establecimiento </div>
            <div class="col-md-10">
                @Html.DropDownList("EstablecimientoId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Desde </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaDesde, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", id = "from_Id", type = "date" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Hasta </div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaHasta, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", id = "to_Id", type = "date" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"> Estudios Completos </div>
            <div class="col-md-10">
                <div class="checkbox">
                    <div class="col-md-10">
                        <div>
                            Si
                            @Html.RadioButtonFor(model => model.EstudioCompleto, "true", new { htmlAttributes = new { @class = "form-control" }, @checked = "checked" })
                        </div>
                        <div>
                            No
                            @Html.RadioButtonFor(model => model.EstudioCompleto, "False", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Estudios", new {id = uId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
                <button type="submit" class="btn btn-primary" id="btn_guardar"> Guardar </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <script src="~/Scripts/Pages/fechas-desde-hasta-validacion.js"></script>
}
