<pg-container>
  <h2 [ngStyle]="settingService.getTitleStyle()">
    INFORMACIÓN ÚTIL
  </h2>
  <ng-container *ngIf="hasInformation(); else Empty">
    <div class="card card-transparent">
      <div class="card-body"  [@enterAnimation]="_isLoading == true ? 'loading':'ready'">
        <div *ngIf="!_isLoading" class="row">
          <ng-container *ngFor="let info of information">
              <div class="col-lg-6">
                <pgcard [Maximize]=false
                  [Refresh]=false
                  [Toggle]=false
                  [Close]=false
                  [MinimalHeader]=false>
                    <ng-template #CardTitle>
                      <h3 [ngStyle]="settingService.getCardTitleStyle()"
                      (click)="goToInformation(info.Id)">
                      <span *ngIf="info.Destacada">
                        <i class="fas fa-bookmark"></i>
                      </span>
                      {{info.Titulo}}
                    </h3>
                  </ng-template>
                  <p>{{info.Copete}}</p>
                </pgcard>
              </div>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #Empty>
    <div class="alert alert-info" role="alert">
      <p class="text-center">
        No se encontraron resultados.
      </p>
    </div>
  </ng-template>


</pg-container>
<!-- END CONTAINER FLUID -->
