﻿@model QavantWeb.Models.Compania

@{
    ViewBag.Title = "Edit";
}

<h2>Compañía</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Editar</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.EmpresaId)
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"><b>Habilitada</b></div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Habilitada, new { @class = "no-left-margin", id = "chbHabilitado" })
                <input type="hidden" id="checkId" value="@Model.Users.Count()" />
            </div>
        </div>
    </div>
    @Html.Partial("_ConfirmModal", "Esta compañía posee usuarios asociados. ¿Desea continuar de todos modos?")
</div>
    <hr />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index", "Companias")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button type="submit" class="btn btn-primary"> Guardar </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/disable-warning.js"></script>
}

