<div class="container">
    <div class="row">
      <div class="col-lg-8">

        <div *ngIf="hasData()" class="card-detail">

          <div class="card-detail-image">
            <ng-container *ngIf="hasImage() else Background" >
              <img [src]="getImage()" alt="">
            </ng-container>
            <ng-template #Background>
              <div class="image-default"></div>
            </ng-template>
            <span class="card-category">
              {{getType()}}
            </span>
            <span class="card-detail-date">
              {{getDate()}}
            </span>
            <h1>
              {{getTitle() | truncate: 150}}
            </h1>
          </div>
          <div class="card-reactions">
            <app-reactions [data]="data"></app-reactions>
          </div>
          <div [innerHtml]="getContent() | safe: 'html'" class="card-content"></div>
        </div>

      </div>

      <div class="col-lg-4">
        <h2 [ngStyle]="settingsService.getTitleSectionStyle()" class="m-t-0">
          {{getTitleSuggestons()}}
        </h2>
        <ng-container *ngFor="let dat of suggestions; let i = index">
          <app-card-suggestion 
            *ngIf="i <= limitSomeNews && checkRepeatData(dat.Id)"
            [data]="dat"
            [section]="getSection()">
          </app-card-suggestion>
            <!-- <div *ngIf="i <= limitSomeNews && checkRepeatData(dat.Id)"
              class="card">
              <img class="img-fluid" (click)="goToNewDetail(dat.Id)"
                src="{{dat.Image}}" alt="{{dat.Image}}">
              <div class="card-body">
                <h2 [ngStyle]="settingsService.getCardTitleStyle()" class="m-t-0"
                (click)="goToNewDetail(dat.Id)">
                  {{dat.Title | truncate: 70}}
                </h2>
              </div>
            </div> -->
        </ng-container>
      </div>
    </div>


</div>