@import "../../../styles.scss";
@include mq($from: mobile) {

}

@include mq($from: tablet) {

}

@include mq($from: desktop) {
  .img-fluid{
    cursor: pointer;
    object-fit: cover !important;
  }
}

@include mq($from: wide) {

}

div.row{
  margin-top: 20px;
}

div.card-detail{
  div.card-detail-image{
    position: relative;
    text-align: center;
    min-height: 400px;
    background-color: white;
    div.image-default,
    img{
      width: 100%;
    }

    div.image-default{
      background-color: #aeaeae;
    }
    
    span{
      top: 0;
      margin-left: 15px;
      margin-top: 10px;
      position: absolute;
      background-color: rgba(0,0,0,.3);
      padding: 5px;
      color: white;
    }
    span.card-category{
      left: 0;
    }
    span.card-detail-date{
      right: 0;
      margin-right: 15px;
    }
  }
  h1{
    bottom: 0;
    position: absolute;
    margin-left: 15px;
    margin-right: 15px;
    color: white;
    padding: 5px;
    font-size: 22px;
    line-height: 1.2;
    width: auto;
    background-color: rgba(0,0,0,.3);
  }
  div.card-content{
    padding-top: 15px;
    padding: 5px;
    user-select: text !important;
  }

  div.card-reactions{
    padding: 8px;
  }
}

div.card-body{
  padding: 10px;
}