div.reactions{
    position: relative;
    // border-top: 1px solid #aeaeae;
    padding: 8px 0px 8px 0px;
    div.content-reactions{
        background-color: white;
        padding: 7px;
        left: 0;
        position: absolute;
        border-radius: 15px;
        top: -35px;
        -webkit-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 6px -1px rgba(0,0,0,0.75);
    }
    span{
        img{
            width: 20px;
            margin-right: 5px;
            cursor: pointer;
        }
        img.default{
            filter: grayscale(100%);
        }
    }

    span.icons{
        right: 0;
        // margin-right: 25px;
        position: absolute;
        img.iconTotal{
            cursor: default;
            padding: 0px;
            margin-left: -12px;
        }
        float: right;
    }

    span.action-name{
        font-weight: 300;
        color: #aeaeae;
        font-size: 11px;
    }
}