<qavant-header title="Galerías"></qavant-header>
<ion-content padding>

  <div class="fixed-div">
    <div class="fixed-div-top"></div>
    <div class="filter">
      <ion-list> 
          <ion-item>
            <ion-label>Categorías</ion-label>
            <ion-select [(ngModel)]="selectedCat" submitText="Ok" cancelText="Cancelar" (ngModelChange)="onChange($event)">
              <ion-option *ngFor="let cat of categoriaList" value="{{cat?.id}}" [selected]="selectedCat == cat">{{ cat?.name }}</ion-option>
            </ion-select>
          </ion-item>         
        </ion-list>            
    </div>
  </div>

  <ion-list>
    <div *ngFor="let galeria of galerias">
      <qavant-card-galeria [entidad]="galeria"></qavant-card-galeria>
    </div>
  </ion-list> 
</ion-content>