﻿@model IEnumerable<QavantWeb.Models.Sucursale>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-map-pin " aria-hidden="true"></i> Sucursales</h2>
<div style="margin-bottom: 30px">    
    <a href="@Url.Action("Create", "Sucursales")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Sucursal </a>
</div>

<div class="col-xs-12">

    <table id="SucursalesList" class="table hover display compact stripe">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habilitada)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @if (item.Habilitada)
                {
                    <i class="fa fa-check-circle fa-2x fa-fw" style="color: #5cb85c;" aria-hidden="true"></i>
                }
                else
                {
                    <i class="fa fa-times-circle fa-2x fa-fw" style="color: #d9534f" aria-hidden="true"></i>
                }
            </td>

            <td style="text-align: right;">
                <a href="@Url.Action("Edit", "Sucursales", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil disabled" aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", "Sucursales", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
            </td>
        </tr>
            }
        </table>
</div>
<script>
    $(document).ready(function () {
        $('#SucursalesList').DataTable({
            "order": [[0, "asc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>