<pg-container>
  <h1 [ngStyle]="settingsService.getTitleSectionStyle()">
      {{getTitleSection()}}
  </h1>
  <div class="row m-t-30" [@enterAnimation]="!hasUser() ? 'loading':'ready'">
    <div class="col-md-4">
      <pgcard MinimalHeader="true" *ngIf="!_isLoading">
        <div class="text-center img-profile">
          <img src="{{getUserImage()}}" class="rounded-circle"
              alt="{{getUserName()}}" />
        </div>
        <div class="user-data">
          <h3 class="text-center" [ngStyle]="{'color': settingsService.getPrimaryColor()}">
            {{getUserName()}}
          </h3>
          <h3 class="area text-center">{{getUserArea()}}</h3>
          <h4 class="text-center">
            <a class="mail" href="mailto:{{getUserEmail()}}">
              <i class="fas fa-envelope"></i>
              {{getUserEmail()}}</a>
            </h4>
        </div>
        <!-- <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Actividad
            <span class="badge badge-primary badge-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Mensajes
            <span class="badge badge-primary badge-pill">2</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Eventos
            <span class="badge badge-primary badge-pill">1</span>
          </li>
        </ul> -->
    
      </pgcard>
    </div>
    <div class="col-md-8">
      <tabset #staticTabs *ngIf="!_isLoading">
        <tab heading="Datos Personales">
          <div class="row column-seperation">
            <div class="col-lg-12">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Nombre: <span>{{getUserFirstName()}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Apellido: <span>{{getUserLastName()}}</span>
                </li>
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                  Usuario: <span>{{getUserNickName()}}</span>
                </li> -->
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                  Email: <span>{{getUserEmail()}}</span>
                </li> -->
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Teléfono: <span>{{getUserPhone()}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Interno: <span>{{getUserIntern()}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Móvil: <span>{{getUserMobile()}}</span>
                </li>
                <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
                  Interno: <span>{{getUserIntern()}}</span>
                </li> -->
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Fecha Nacimiento: <span>{{getUserBirthday()}}</span>
                </li>
              </ul>
            </div>
          </div>
        </tab>
        <tab heading="Contraseña" *ngIf="myProfile">
          <div class="col-lg-12">
            <form (ngSubmit)="saveNewPassword($event)">
              <div *ngIf='validate.status' class="alert" [ngClass]="{
                'alert-warning': validate.type === 'warning',
                'alert-danger': validate.type === 'danger',
                'alert-success': validate.type === 'success',
                'alert-info': validate.type === 'info'}" role="alert">
                {{validate.message}}
              </div>


              <div class="form-group">
                <label>
                    Contraseña Actual
                </label>
                <input [(ngModel)]="password" type="password" name="text" class="form-control" autocomplete="off">
              </div>
              <div class="form-group">
                <label>
                  Nueva Contraseña
                </label>
                <input [(ngModel)]="newPassword" type="password" name="text" class="form-control" autocomplete="off">
              </div>
              
              <div class="form-group">
                <label>
                    Confirmar Contraseña
                </label>
                <input [(ngModel)]="confirmPassword" type="password" name="text" class="form-control" autocomplete="off">
              </div>
              <div class="form-group btn-submit">
                <button [disabled]="btnDisble()" type="submit" class="btn btn-dark"
                [ngStyle]="settingsService.getBtnActionStyle()">Enviar</button>
              </div>
            </form>
            <!-- <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Fecha Ingreso: <span>No Ingresado</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Area <span>{{getUserArea()}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Cargo: <span>No Ingresado</span>
              </li>
            </ul> -->
        </div>
      </tab>
    </tabset>
  </div>
</div>
