form{
  padding-top: 20px;
  margin-bottom: 20px;
}

button{
  float: right;
}

input{
  margin-bottom: 10px;
}

label{
  font-weight: 500;
}

.list-group li span {
  text-transform: uppercase;
}

.user-data{
  font-size: 18px;
}

h3, .area{
  font-family: 'Segoe UI', Roboto, Geneva, Verdana, sans-serif !important;
  // text-transform: capitalize;
}

.area{
  font-size: 16px;
}

.mail{
  font-family: 'Segoe UI', Roboto, Geneva, Verdana, sans-serif !important;
  font-size: 14px;
  color: #626262 !important;
  font-weight: normal;
}

.img-profile img {
  object-fit: cover !important;
  width: 200px;
  height: 200px;
}

/deep/ .nav-item a{
  font-family: 'Segoe UI', Roboto, Geneva, Verdana, sans-serif !important;
}

div.btn-submit{
  min-height: 25px;
}