qavant-card-beneficio-muro {
    .relative{
        position: relative;
    }
    .type{
        color: #e20614 !important;
        font-weight: 700;
    }
    .content-puntos{
        background: #e20614;
        color: white;
        width: 85px;
        text-align: right;
        position: absolute;
        top: 50px;
        right: 0px;
        font-family: Roboto;
        font-size: 14px;
        height: 21px;
        padding-top: 3px;
        font-weight: 300;
        padding-right: 7px;
    }
}
