<ion-card  class="q-card relative">
    <ion-card-header>
        <div class="metadata">
        <span class="type">Productos</span>
        <span class="date">{{entidad?.fechaAlta}}</span>
        </div>          
    </ion-card-header>
    <img src="{{entidad?.imagen}}" (click)="goToDetail()" />
    <ion-card-content> 
        <div class="content-header">
        <h2 (click)="goToDetail(entidad)">{{entidad?.titulo | truncate:70}}</h2>
        </div>
        <div class="content-body">
            <div class="short-description">{{entidad?.copete | truncate:175}}</div>
        </div>
    </ion-card-content>
    <div class="content-puntos">
        {{puntos}} pts
    </div>
</ion-card> 