﻿@model QavantWeb.Models.PuestosUser
@{
    ViewBag.Title = "Crear";
    var uId = ViewData["uId"];
}
<h2>Crear</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })

        <div class="form-group">
            <label class="control-label col-md-2">Puesto</label>
            <div class="col-md-10">
                @Html.DropDownList("PuestoId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group hidden">
            @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Fecha desde</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaDesde, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", type = "date", id = "from_Id" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Notas, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Notas, new { @class = "form-control", cols = "20", rows = "5", maxlength = "300" })
            </div>
        </div>
        <div class="form-group col-md-12">
            <hr />
            <a href="@Url.Action("Index", "Puestos", new {id = uId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button type="submit" class="btn btn-primary" id="btn_guardar"> Guardar </button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <script src="~/Scripts/Pages/fechas-desde-hasta-validacion.js"></script>
}

