﻿@model QavantWeb.Models.PuestosUser

@{
    ViewBag.Title = "Eliminar";
    var myUserId = ViewData["myUserId"];
    var uId = ViewData["uId"];
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar este dato?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Puesto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Puesto.Descripcion)
        </dd>

        <dt>
            Fecha desde
        </dt>
        <dd>
            @Html.ValueFor(model => model.FechaDesde, "{0:dd-MM-yyyy}")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("volver", "Index", new { id = uId })
        </div>
    }
</div>
