﻿@model IEnumerable<QavantWeb.Models.PuestosUser>
@{
    ViewBag.Title = "Index";
    var UserId = ViewData["UserId"];
}
<h2>Puestos</h2>
<p>
    <a href="@Url.Action("Create", "Puestos", new { id = UserId })" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo</a>
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                Puesto
            </th>
            <th width="15%">
                Fecha desde
            </th>
            <th>
                Notas
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Puesto.Descripcion)
                </td>
                <td>
                    @Html.ValueFor(modelItem => item.FechaDesde, "{0:dd-MM-yyyy}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notas)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Puestos", new { id = item.Id, uId = UserId })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                    <a href="@Url.Action("Delete", "Puestos", new { id = item.Id, uId = UserId })" onclick="javascript: return confirm('¿Confirma que desea eliminar este dato?');" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </table>
}
<hr />
<div>
    <a href="@Url.Action("Edit", "Users", new {id = UserId})" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
</div>

