﻿@model IEnumerable<QavantWeb.Models.Puesto>
@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-briefcase " aria-hidden="true"></i> Puestos</h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("CreatePuestos", "Puestos")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo puesto </a>
</div>

<div class="col-xs-12">

    <table id="PuestosList" class="table hover display compact stripe">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Habilitado)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @if (item.Habilitado)
                    {
                        <i class="fa fa-check-circle fa-2x fa-fw" style="color: #5cb85c;" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-times-circle fa-2x fa-fw" style="color: #d9534f" aria-hidden="true"></i>
                    }
                </td>

                <td style="text-align: right;">
                    <a href="@Url.Action("EditPuestos", "Puestos", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil disabled" aria-hidden="true"></span></a>
                    <a href="@Url.Action("DeletePuestos", "Puestos", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#PuestosList').DataTable({
            "order": [[0, "asc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>