﻿@model QavantWeb.Models.FormsQuestion

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>
<h4>FORMULARIO: @ViewBag.FormTitle</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Hidden("FormTypeId", (object)ViewBag.FormTypeId)
    @Html.Hidden("FormTitle", (object)ViewBag.FormTitle)
    <div class="form-horizontal">
        <h4>Pregunta</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })

        @Html.HiddenFor(model => model.Id, new { @value = "0" })
        @Html.HiddenFor(model => model.Form_Id, new { @value = ViewBag.Form_Id })
        @Html.HiddenFor(model => model.Enabled, new { @value = true })


        <div class="form-group">
            @Html.LabelFor(model => model.Question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Question, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><b>Tipo</b></div>
            <div class="col-md-10">
                @Html.DropDownList("FormsQuestionsType_Id", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Order, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Order, new { htmlAttributes = new { @class = "form-control", @type = "number", @Value = "1" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Required, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Required, new { htmlAttributes = new { @class = "no-left-margin" } })
                </div>
            </div>
        </div>
        <div id="pnlOpciones" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Opciones</h3>
            </div>
            <div class="panel-body">
                @{Html.RenderPartial("_opciones", Model);}
            </div>
        </div>
        <div class="form-group col-md-12">
            <hr />
            <a href="@Url.Action("Index", "FormsQuestions", new { id = ViewBag.Form_Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button id="btnSave" type="submit" class="btn btn-primary"> Guardar </button>
        </div>
    </div>
}



@if (ViewBag.FormTypeId == (byte)QavantWeb.Models.Enums.FormsTypes.Evaluacion)
{
    <script src="~/Scripts/Pages/preguntasEvaluaciones.js"></script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- Print. -->
    <script type="text/javascript" src="~/Scripts/Pages/preguntas.js?v=3"></script>
    <!-- Visibilidad del div de mensajes de error. -->
    <script src="~/Scripts/Pages/validation-summary.js"></script>
}