﻿@model QavantWeb.Models.FormsQuestion

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Confirme que quiere eliminar este elemento.</h3>
<div>
    <h4>Pregunta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @ViewBag.FormTypeLabel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Form.Title)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "FormsQuestions", new { id = Model.Form.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
