qavant-social {
    img {
        display: inline;
        width: auto;
    }    
    .reacciones {
        float: left;
        position: relative;
        display: inline-block;
        .etiqueta {
            display: inline-block;
            height: 24px;
            vertical-align: super;
            color:#b4b4b4;
        }
        .disable {
            filter: grayscale(100%);
        }
        .tooltip {
            width: 190px;
            height: 42px;
            background-color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
          
            /* Position the tooltip text */
            position: absolute;
            z-index: 1;
            bottom: 125%;
            //left: 50%;
            margin-left: -10px;
          
            /* Fade in tooltip */
            transition: opacity 0.3s;
            box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.25);

            img {
                margin-right: 5px;
                width: 32px;
            }
        }        
    }
    .contador-reacciones {
        //width: 100px;
        float: right;
        .iconos {
            width: 60px;
            float: left;
            position: relative;
            img {
                position: absolute;
                max-width: none;
            }
            img:nth-child(1) {
                z-index:999;
                left: 0;
            }
            img:nth-child(2) {
                z-index:998;
                left:16px;
            }
            img:nth-child(3) {
                z-index:997;
                left: 32px;
            }   
        }
        .numero {
            float: right;
            //width: 10px;
            padding-top:2px;
            text-align: right;
        }
    }
}