
<div class="reacciones">
  <span (click)="toggle()">
    <img src="{{reaccionIconoActual}}" [ngClass]="{'disable': reaccionIdActual === 0 }" /> <span class="etiqueta" *ngIf="reaccionIdActual !== 0">{{reaccionEtiquetaActual}}</span>
  </span>
  <div *ngIf="alive" class="tooltip">
    <img src="{{reaccion?.icono}}" *ngFor="let reaccion of reacciones" (click)="guardar(reaccion.id)" />
  </div>
</div>

<div class="contador-reacciones">
  <div class="iconos">
    <img *ngFor="let reaccion of reacciones" src="{{reaccion?.icono}}" />
  </div>
  <div class="numero">
      {{totalReacciones}}
  </div>
</div>