<qavant-header title="Cumpleaños"></qavant-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let birthday of birthdays" 
              [class.today]="birthday.isBirthdayToday" 
              class="q-item avatar">
      <ion-avatar item-start>
        <img src="{{birthday?.photo}}" />
      </ion-avatar>
      <div class="q-item-content" (click)="goToUserDetail(birthday.userId)" >
        <h2>{{birthday?.name}} {{birthday?.lastName}}</h2>
        <p>{{birthday?.area}}</p>
        <p>{{birthday?.date}}</p>
        <span class="icon-gift"></span>
      </div>
      <div class="q-item-footer hide">
        <qavant-social modulo="CUMPL" [entidad]="birthday"></qavant-social>
      </div>
    </ion-item>
    <ion-item *ngIf='birthdays?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </ion-item>
  </ion-list>
</ion-content>
