<qavant-header title="Capacitaciones"></qavant-header>

<ion-content padding>
  <div *ngIf="isReady">
    <form>
      <div class="content-header">
          <h2> {{course?.title | truncate:70}} </h2>
          <div class="copete">{{course?.description}}</div>
      </div>
      <div [ngSwitch]="course?.courseTypeId" class="content-body">
        <div *ngSwitchCase="1"> <!-- 1. Video -->
          <iframe width="100%" height="315" [src]="'https://www.youtube.com/embed/'+ course.videoURL + '?rel=0' | youtube " frameborder="0" allowfullscreen ></iframe> 
          <div *ngIf="course?.requiresEvaluation">
              <button ion-button full [disabled]="false" (click)="openEvaluation(course.formId,course.formUniqueReply)"> Realizar la Evaluación</button>
          </div>
        </div>
        <div *ngSwitchCase="2"> <!-- 2.Documento -->
          <button class="button-gral" ion-button full (click)="openDocument(course)">Abrir Documento</button>
          <div *ngIf="course?.requiresEvaluation">
              <button [disabled]="btnDocDisable" ion-button full (click)="openEvaluation(course.formId,course.formUniqueReply)"> Realizar la Evaluación</button>
          </div> 
        </div>
        <div *ngSwitchCase="3"> <!-- 3. Link -->
          <button class="button-gral" ion-button full (click)="openLink(course.linkURL)">Abrir Link</button>
          <div *ngIf="course?.requiresEvaluation">
            <button [disabled]="btnLinkDisable" ion-button full (click)="openEvaluation(course.formId,course.formUniqueReply)"> Realizar la Evaluación</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</ion-content>