﻿@model QavantWeb.ViewModels.CapacitacionViewModel
@{
    ViewBag.Title = "Crear Capacitación";
}
<h2>Crear</h2>
@using (Html.BeginForm("Create", "Courses", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input id="hfAction" type="hidden" value="create" />
    <div class="form-horizontal">
        <h4>Capacitación</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })


        <div class="form-group">
            @Html.LabelFor(model => model.Capacitacion.Title, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacitacion.Title, new { htmlAttributes = new { @class = "form-control titulo" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Capacitacion.Description, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacitacion.Description, new { htmlAttributes = new { @class = "form-control subtitulo" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Capacitacion.From, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacitacion.From, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "from_Id" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Capacitacion.To, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacitacion.To, new { htmlAttributes = new { @class = "form-control", @type = "date", id = "to_Id" } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Capacitacion.CategoriaId, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Capacitacion.CategoriaId, (SelectList)ViewBag.CategoriaId, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Capacitacion.CourseType_Id, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Capacitacion.CourseType_Id, (SelectList)ViewBag.CourseType_Id, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group dataRelated" id="Document_group">
            <div id="ArchiveGroup">
                <div class="control-label  texto-label-left col-md-2"><b>Archivo</b></div>
                <div class="col-md-10">
                    <div style="float: left;">
                        <input type="file" id="File" name="File" accept=".xls,.xlsx,.doc,.docx,.ppt,.pps,.pptx,.ppsx,.pdf,.jpg,.jpeg,.png" />
                    </div>
                    <div>
                        <a class="col-md-1" id="tooltipsFile"> <i class="fa fa-lg fa-question-circle fa-2x" aria-hidden="true"> </i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group dataRelated" id="URL_group">
            @Html.LabelFor(model => model.Capacitacion.LinkURL, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacitacion.LinkURL, new { htmlAttributes = new { @class = "form-control float-left" } })
                <a class="col-md-1" style="margin-top:5px;" id="tooltipsURL"> <i class="fa fa-lg fa-question-circle fa-2x" aria-hidden="true"> </i> </a>
            </div>
        </div>
        <div class="form-group dataRelated" id="Video_group">
            <div class="control-label  texto-label-left col-md-2"><b>Id del Video </b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Capacitacion.VideoURL, new { htmlAttributes = new { @class = "form-control float-left" } })
                <a class="col-md-1" style="margin-top:5px;" id="tooltips"> <i class="fa fa-lg fa-question-circle fa-2x" aria-hidden="true"> </i> </a>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Capacitacion.RequiresEvaluation, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Capacitacion.RequiresEvaluation, new { htmlAttributes = new { @class = "no-left-margin" } })
                </div>
            </div>
        </div>
        <div class="form-group formRelated" id="Form_group">
            @Html.LabelFor(model => model.Capacitacion.Form_Id, htmlAttributes: new { @class = "control-label  texto-label-left col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Capacitacion.Form_Id, (SelectList)ViewBag.Form_Id, "Seleccionar", htmlAttributes: new { @class = "form-control" })
            </div>
        </div>


        @Html.Partial("_Filtros", Model.FiltroConfig)

        <hr />
        <div class="form-group col-md-12">
            <a href="@Url.Action("Index", "Courses")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button id="btn_guardar" type="submit" class="btn btn-primary"> Guardar </button>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <!-- Print. -->
    <script type="text/javascript" src="~/Scripts/Pages/cursos.js?v=3.1"></script>
    <!-- Validación de fechas -->
    <script src="~/Scripts/Pages/fechas-desde-hasta-validacion.js"></script>
    <script src="~/Scripts/Pages/tamanio-archivo-validacion.js"></script>
}

<script>
    var uploadField = document.getElementById("File");
    uploadField.onchange = function () {
        validateFileSize(this);
    };
    $(document).ready(function () {
        $('#tooltips').tooltip(
            {
                placement: 'right',
                html: 'true',
                title: '<strong>Instrucciones:</strong> El ID de un video de Youtube es el código que se encuentra marcado en rojo en el siguiente ejemplo:<p>https://www.youtube.com/watch?v=<span style="color: red;">Dbv1dSSYg4c</span></p>'
            }
        );
        $('#tooltipsFile').tooltip(
            {
                placement: 'right',
                html: 'true',
                title: '<strong>Instrucciones:</strong> Por motivos de rendimiento, los archivos no deben superar los 8MB de tamaño.'
            }
        );
        $('#tooltipsURL').tooltip(
            {
                placement: 'right',
                html: 'true',
                title: '<strong>Instrucciones:</strong> Asegúrese de ingresar la url completa. Por ej:<span style="color: red;">  https://www.google.com</span>'
            }
        );

        var cat = $("#Capacitacion_CategoriaId").val();
        var cmbCat = $("#Capacitacion_CategoriaId option").text();
        if (cmbCat.length < 12) {
            if (cat == "" || cat == undefined) {
                var message = "<strong>No existe ninguna 'Categoría' para Capacitaciones.</strong><br > Primero debe crear una Categoría en la sección Administración  ->  Categorías.";
                $('#myAlert > ul').append('<li>' + message + '</li>');
                return false;
            }
        }
    });




</script>