﻿@model IEnumerable<QavantWeb.Models.Cours>

@{
    ViewBag.Title = "Capacitaciones";
}

<h2><i class="fa fa-book " aria-hidden="true"></i> Capacitaciones</h2>

<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "Courses")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Capacitación</a>
    <a href="@Url.Action("IndexDeleted", "Courses")" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Capacitaciones Eliminadas</a>
</div>

<table id="FormList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Fecha Creación
            </th>
            <th>
                Desde
            </th>
            <th>
                Hasta
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                <a href="@Url.Action("Edit", "Courses", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", "Courses", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
                @*@Html.ActionLink("Preguntas", "Index", "CoursesQuestions", new { id = item.Id }) |*@
                @*@Html.ActionLink("Editar", "Edit", new { id = item.Id })*@
            </td>
        </tr>
    }

</table>


<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY');
        $('#FormList').DataTable({
            "order": [[1, "desc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>