﻿@{
    ViewBag.Title = "Dashboard";
}
<script type="text/javascript">
    $(function () {
        Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function (color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });
    });
</script>
<link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css"
      rel="stylesheet" type="text/css" />
<script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js"></script>  
<h2><i class="fa fa-area-chart" aria-hidden="true"></i> @ViewBag.FormName</h2>
<hr />

<div id="exTab1" class="container">
    <ul class="nav nav-tabs nav-justified">
        <li class="active">
            <a href="#1a" data-toggle="tab">General</a>
        </li>
        <li>
            <a href="#2a" data-toggle="tab">Por Grupos</a>
        </li>
        <li>
            <a href="#3a" data-toggle="tab">Listados</a>
        </li>
    </ul>

    <div class="tab-content clearfix">
        <div class="tab-pane active" id="1a">
            <h3>

                <div class="col-md-6">
                    <div class="panel green-panel ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x fa-fw" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge indicator-number">@ViewBag.TotalAverageForm</div>
                                    <div class="indicator-label">PROMEDIO GENERAL</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel green-panel ">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x fa-fw" aria-hidden="true"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge indicator-number">@ViewBag.EvaluationsTotalQty</div>
                                    <div class="indicator-label">EVALUACIONES INGRESADAS</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6">
                        @ViewBag.EvaluatorChart
                    </div>*@
                <div class="col-md-6">
                    @ViewBag.OptionsByAreaEvaluatedChart
                </div>
                @*<div class="col-md-6">
                        @ViewBag.EvaluatedAreaChart
                    </div>*@
                @*<div class="col-md-6">
                        @ViewBag.EvaluatedByAreaChart
                    </div>*@
                <div class="col-md-6">
                    @ViewBag.OptionsByEvaluatorChart
                </div>
            </h3>
        </div>
        <div class="tab-pane" id="2a">
            <h3>
                @{
                    foreach (var item in ViewBag.GroupCharts)
                    {
                        <div class="col-md-6">
                            @item
                        </div>
                    }
                }
            </h3>
        </div>
        <div class="tab-pane" id="3a">
            <hr />
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Evaluador</b></div>
                    <div class="col-md-10">
                        <div>
                            <select id="Evaluator_Id" multiple="multiple" required name="Evaluator_Name" class="form-control">
                                @if (ViewBag.Evaluators != null)
                                {
                                    foreach (var item in ViewBag.Evaluators)
                                    {
                                        if (item.Text != null)
                                        {
                                            <option value="@item.Value">
                                                @item.Text
                                            </option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Evaluado</b></div>
                    <div class="col-md-10">
                        @*@Html.DropDownList("Evaluated_Id", new SelectList(ViewBag.Users, "Id", "Name"), "--Seleccionar Evaluado--", new { @class = "form-control" })*@
                        @Html.DropDownList("Evaluated_Id", new SelectList(string.Empty, "Value", "Text"), "--Seleccionar Evaluado--", new { @class = "form-control", @required = "required" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Area Evaluado</b></div>
                    <div class="col-md-10">
                        @Html.DropDownList("Area_Id", (SelectList)ViewBag.EntityList, "--Seleccionar Area--", new { @class = "form-control" })
                    </div>
                </div>
                

                <div class="form-group" id="boton">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" id="btnSearch" value="Buscar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4" style="display: none;" id="TotalAverageDivContainer">
                <div class="panel green-panel ">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-calculator fa-4x fa-fw" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge indicator-number" id="TotalAverageDivValue"></div>
                                <div class="indicator-label">PROMEDIO</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table id="PerfomanceReviewList" class="table hover display compact stripe" width="100%">
                <thead>
                    <tr>
                        <th>
                            Fecha Creacion
                        </th>
                        <th>
                            Evaluado
                        </th>
                        <th>
                            Area Evaluado
                        </th>
                        <th>
                            Evaluador
                        </th>
                        <th>
                            Area Evaluador
                        </th>
                        <th>
                            Promedio General
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/datatableButtons")
}

<script>
    Array.prototype.groupBy = function(prop) {
        return this.reduce(function(groups, item) {
            const val = item[prop]
            groups[val] = groups[val] || []
            groups[val].push(item)
            return groups
        }, {})
    }

    function convertToDate(data) {
        var dtStart = new Date(parseInt(data.substr(6)));
        var dtStartWrapper = moment(dtStart);
        return dtStartWrapper.format("DD/MM/YYYY");
    }
    $(function() {
        $('#Evaluator_Id').multiselect({
            includeSelectAllOption: true,
            nonSelectedText: '--Seleccionar Evaluador/es--',
            allSelectedText: 'Todos los evaluadores seleccionados',
            selectAllText: 'Seleccionar Todos'
        });
    });
    function floorFigure(figure, decimals){
        if (!decimals) decimals = 2;
        var d = Math.pow(10,decimals);
        return (parseInt(figure*d)/d).toFixed(decimals);
    }
    $(document).ready(function () {

        //jQuery DataTables initialization
        var oTable = $('#PerfomanceReviewList').DataTable({
            "ordering": false,
            dom: 'Bfrtip',
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
            "ajax": {
                "url": "/PerfomanceReview/GetPerfomanceReview",
                "type": "POST",
                "datatype": "json",
                "data": {
                    "formId": @ViewBag.formId
                }
            },
            "footerCallback": function ( row, data, start, end, display ) {
                var api = this.api(), data;
 
                // converting to interger to find total
                var TotalAverage = 0;
                var counter = 0;
                for ( var i=0 ; i<data.length ; i++ )
                {
                    TotalAverage += data[i].TotalAverage.replace(",", ".")*1;
                    counter++;
                }
                var divContainer = document.getElementById("TotalAverageDivContainer");
                divContainer.style.display = "block";

                var evaluatorsId = data.map(function(obj) { return obj.Evaluator_Id; });
                evaluatorsId = evaluatorsId.filter(function(v,i) { return evaluatorsId.indexOf(v) == i; });

                var selectedValues = [];    
                $("#Evaluator_Id :selected").each(function(){
                    selectedValues.push($(this).val()); 
                });
                divContainer.style.display = ((selectedValues.length > 1)&&(evaluatorsId.length > 1))? 'block':'none';

                var divValue = document.getElementById("TotalAverageDivValue");
                divValue.innerHTML = (counter==0)?'0':'%'+floorFigure(TotalAverage/counter);
            },
            "columns": [
                    {
                        "data": "StartedDate","orderable": false , "name": "StartedDate",
                        "render": function (data) { return convertToDate(data); }
                    },
                    { "data": "EvaluatedName", "name": "EvaluatedName" },
                    { "data": "EvaluatedArea", "name": "EvaluatedArea" },
                    { "data": "EvaluatorName", "name": "EvaluatorName" },
                    { "data": "EvaluatorArea", "name": "EvaluatorArea" },
                    { "data": "TotalAverage", "name": "TotalAverage", "render": function (data) { return "%"+data;}},
                    {
                      "data": function (data) {
                          return '<a href="@Url.Action("Details", "PerfomanceReview")/' + data.Id + '" class="btn btn-primary"><span class="glyphicon glyphicon-search " aria-hidden="true"></span></a> '+
                              '<a href="@Url.Action("ExporttoExcel", "PerfomanceReview")?FormPerfomanceEvaluationId=' + data.Id + '" class="btn btn-primary"><span class="glyphicon glyphicon-download " aria-hidden="true"></span></a><br>';
                            }
                    }
            ],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            }
        });

        $('#btnSearch').click(function () {
            oTable.columns(1).search($('#Evaluated_Id').val().trim());
            oTable.columns(2).search($('#Area_Id').val().trim());
            var selectedValues = [];    
            $("#Evaluator_Id :selected").each(function(){
                selectedValues.push($(this).val()); 
            });
            oTable.columns(3).search(selectedValues);
            //hit search on server
            oTable.draw();
        });

        $("#Evaluator_Id").change(function () {
            var evaluadotrs = $("#Evaluator_Id").val();
            var selectedValues = [];    
            $("#Evaluator_Id :selected").each(function(){
                selectedValues.push($(this).val()); 
            });
            if(selectedValues.length > 0){
                $("#Area_Id").val($("#Area_Id option:first").val());
            }
            $("#Evaluated_Id").empty();
            $("#Evaluated_Id").append('<option value="">--Seleccionar Evaluado--</option>');
            //alert(evaluadotrs);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetEvaluatedsByEvaluatorsList")',
                dataType: 'json',
                data: { EvaluatorsId: selectedValues },
                success: function (evaluateds) {
                    console.log(evaluateds);
                    $.each(evaluateds, function (i, evaluateds) {
                        $("#Evaluated_Id").append('<option value="'
                                                   + evaluateds.Value + '">'
                                             + evaluateds.Text + '</option>');
                    });
                },
                error: function (ex) {
                    console.log(ex);
                }
            });
            return false;
        });
        $("#Evaluator_Id").change();
        $("#Area_Id").change(function () {
            if($("#Area_Id").val()) {
                $('#Evaluator_Id').multiselect("clearSelection");
                $("#Evaluator_Id").change();
            }
        });
        $("#Evaluated_Id").change(function () {
            if($("#Evaluated_Id").val()) {
                $("#Area_Id").val($("#Area_Id option:first").val());
            }
        });
    });

    //});
</script>