<ion-content>
<div class="box mt-1">	
	<form (ngSubmit)="login()" [formGroup]="loginForm">
		<ion-list inset>
	
			<!--<ion-item [ngClass]="{ invalid: empresaErrors.hasError('*', ['touched', 'dirty']) }">
				<ion-input type="text" placeholder="Empresa" formControlName="empresa"></ion-input>
			</ion-item>
			
			<div ngxErrors="empresa" #empresaErrors="ngxErrors">
				<div class="validation" [ngxError]="['empresa', 'required']" [when]="['touched', 'dirty']">Campo requerido</div>
			</div>-->
			<ion-item [ngClass]="{ invalid: usernameErrors.hasError('*', ['touched', 'dirty']) }">
				<ion-input type="text" placeholder="Usuario" formControlName="username"></ion-input>
			</ion-item>
			<div ngxErrors="username" #usernameErrors="ngxErrors">
				<div class="validation" [ngxError]="['username', 'required']" [when]="['touched', 'dirty']">Campo requerido</div>
			</div>
			<div class="seePassword"> 
			<ion-item [ngClass]="{ invalid: passwordErrors.hasError('*', ['touched']) }">
				<ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
			</ion-item>
			<a class="revealPassword" href="#"><!-- <span class="icon-eye"></span> --></a>
            </div>
			<div ngxErrors="password" #passwordErrors="ngxErrors">
				<div class="validation" [ngxError]="['required']" [when]="['touched']">Campo requerido</div>
			</div>
			<div class="btn-ing">
				<button ion-button full type="submit" [disabled]="!loginForm.valid">Ingresar</button>
			</div>
			<p><a (click)="goToResetPassword()">¿Olvidó su contraseña?</a></p>
			<p><a (click)="goToActiveAccount()">Activarse</a></p>
		</ion-list>
	
	</form>

</div>

</ion-content>
