<pg-header extraClass="bg-primary p-r-0">
  <div class="header-inner header-md-height">
      <a href="javascript:void(0)" class="btn-link toggle-sidebar d-lg-none pg pg-menu text-white" (click)="toggleHorizontalMenuMobile()"></a>
      <div class="">
        <div class="brand inline no-border d-sm-inline-block">
          <!-- <img src="assets/img/logo_white.png" alt="logo" pgRetina src1x="assets/img/logo_white.png" src2x="assets/img/logo_white_2x.png" width="78" height="22"> -->
        </div>
        <!-- START NOTIFICATION LIST -->
        <ul class="d-lg-inline-block d-none notification-list no-margin d-lg-inline-block b-grey b-l b-r no-style p-l-30 p-r-20">
            <li class="p-r-10 inline">
            <div class="dropdown" dropdown>
              <a href="javascript:;" id="notification-center" class="header-icon pg pg-world" dropdownToggle>
              <span class="bubble"></span>
              </a>
              <!-- START Notification Dropdown -->
              <div *dropdownMenu class="dropdown-menu notification-toggle">
              <!-- START Notification -->
              <div class="notification-panel">
                <!-- START Notification Body-->
                <div class="notification-body scrollable">
                <!-- START Notification Item-->
                <div class="notification-item unread clearfix">
                  <!-- START Notification Item-->
                  <div class="heading open">
                  <a href="javascript:void(0)" class="text-complete pull-left">
                    <i class="pg pg-map fs-16 m-r-10"></i>
                    <span class="bold">Carrot Design</span>
                    <span class="fs-12 m-l-10">David Nester</span>
                  </a>
                  <div class="pull-right">
                    <div class="thumbnail-wrapper d16 circular inline m-t-15 m-r-10 toggle-more-details">
                    <div><i class="fa fa-angle-left"></i>
                    </div>
                    </div>
                    <span class=" time">few sec ago</span>
                  </div>
                  <div class="more-details">
                    <div class="more-details-inner">
                    <h5 class="semi-bold fs-16">“Apple’s Motivation - Innovation <br>
                                  distinguishes between <br>
                                  A leader and a follower.”</h5>
                    <p class="small hint-text">
                      Commented on john Smiths wall.
                      <br> via pages framework.
                    </p>
                    </div>
                  </div>
                  </div>
                  <!-- END Notification Item-->
                  <!-- START Notification Item Right Side-->
                  <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                  <a href="javascript:void(0)" class="mark"></a>
                  </div>
                  <!-- END Notification Item Right Side-->
                </div>
                <!-- START Notification Body-->
                <!-- START Notification Item-->
                <div class="notification-item  clearfix">
                  <div class="heading">
                  <a href="javascript:void(0)" class="text-danger pull-left">
                    <i class="fa fa-exclamation-triangle m-r-10"></i>
                    <span class="bold">98% Server Load</span>
                    <span class="fs-12 m-l-10">Take Action</span>
                  </a>
                  <span class="pull-right time">2 mins ago</span>
                  </div>
                  <!-- START Notification Item Right Side-->
                  <div class="option">
                  <a href="javascript:void(0)" class="mark"></a>
                  </div>
                  <!-- END Notification Item Right Side-->
                </div>
                <!-- END Notification Item-->
                <!-- START Notification Item-->
                <div class="notification-item  clearfix">
                  <div class="heading">
                  <a href="javascript:void(0)" class="text-warning-dark pull-left">
                    <i class="fa fa-exclamation-triangle m-r-10"></i>
                    <span class="bold">Warning Notification</span>
                    <span class="fs-12 m-l-10">Buy Now</span>
                  </a>
                  <span class="pull-right time">yesterday</span>
                  </div>
                  <!-- START Notification Item Right Side-->
                  <div class="option">
                  <a href="javascript:void(0)" class="mark"></a>
                  </div>
                  <!-- END Notification Item Right Side-->
                </div>
                <!-- END Notification Item-->
                <!-- START Notification Item-->
                <div class="notification-item unread clearfix">
                  <div class="heading">
                  <div class="thumbnail-wrapper d24 circular b-white m-r-5 b-a b-white m-t-10 m-r-10">
                    <img width="30" height="30" src2x="assets/img/profiles/1x.jpg" pgRetina src1x="assets/img/profiles/1.jpg" alt="" src="assets/img/profiles/1.jpg">
                  </div>
                  <a href="javascript:void(0)" class="text-complete pull-left">
                    <span class="bold">Revox Design Labs</span>
                    <span class="fs-12 m-l-10">Owners</span>
                  </a>
                  <span class="pull-right time">11:00pm</span>
                  </div>
                  <!-- START Notification Item Right Side-->
                  <div class="option" data-toggle="tooltip" data-placement="left" title="mark as read">
                  <a href="javascript:void(0)" class="mark"></a>
                  </div>
                  <!-- END Notification Item Right Side-->
                </div>
                <!-- END Notification Item-->
                </div>
                <!-- END Notification Body-->
                <!-- START Notification Footer-->
                <div class="notification-footer text-center">
                <a href="javascript:void(0)" class="">Read all notifications</a>
                <a data-toggle="refresh" class="portlet-refresh text-black pull-right" href="javascript:void(0)">
                  <i class="pg pg-refresh_new"></i>
                </a>
                </div>
                <!-- START Notification Footer-->
              </div>
              <!-- END Notification -->
              </div>
              <!-- END Notification Dropdown -->
            </div>
            </li>

            <ng-template [ngIf]="_layoutOption != 'email'">
            <li class="p-r-10 inline">
            <a href="javascript:void(0)" class="header-icon pg pg-link"></a>
            </li>
            <li class="p-r-10 inline">
            <a href="javascript:void(0)" class="header-icon pg pg-thumbs"></a>
            </li>
            </ng-template>

            <ng-template [ngIf]="_layoutOption == 'email'">
            <a href="javascript:void(0)" id="mark-email" class="mark-email m-l-20"><i class="fa fa-pencil fs-16"></i></a>
            </ng-template>
          </ul>
        <!-- END NOTIFICATIONS LIST -->
        <a href="javascript:void(0)" class="search-link d-lg-inline-block d-none" (click)="openSearch($event)"><i class="pg pg-search text-white"></i>Type anywhere to <span class="bold">search</span></a>
      </div>
      <div class="d-flex align-items-center">
        <!-- START User Info-->
        <div class="pull-left p-r-10 fs-14 font-heading d-lg-inline-block d-none text-white">
          <span class="semi-bold">David</span> <span class="">Nest</span>
        </div>
				<div class="dropdown pull-right" dropdown>
            <button class="profile-dropdown-toggle" type="button" dropdownToggle id="profileDropdown">
              <span class="thumbnail-wrapper d32 circular inline">
              <img src="assets/img/profiles/avatar.jpg" alt="" pgRetina src1x="assets/img/profiles/avatar.jpg" src2x="assets/img/profiles/avatar_small2x.jpg" width="32" height="32">
              </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" *dropdownMenu role="menu">
              <a href="javascript:void(0)" class="dropdown-item"><i class="fs-13 pg pg-settings_small"></i> Settings</a>
              <a href="javascript:void(0)" class="dropdown-item"><i class="fs-13 pg pg-outdent"></i> Feedback</a>
              <a href="javascript:void(0)" class="dropdown-item"><i class="fs-13 pg pg-signals"></i> Help</a>
              <a href="javascript:void(0)" class="clearfix bg-master-lighter dropdown-item">
              <span class="pull-left">Logout</span>
              <span class="pull-right"><i class="fs-13 pg pg-power"></i></span>
              </a>
            </div>
        </div>
        <!-- END User Info-->
        <a href="javascript:void(0)" class="header-icon pg pg-alt_menu btn-link m-l-10 sm-no-margin d-inline-block text-white" (click)="openQuickView($event)"></a>
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
          <pg-horizontal-menu [Items]="menuItems" HideExtra="4">
              <ng-template #mobileSidebarFooter>
                  <a href="javascript:void(0)" class="search-link d-flex justify-content-between align-items-center d-lg-none" (click)="openSearch($event)">Tap here to search <i class="pg pg-search float-right"></i></a>
              </ng-template>
          </pg-horizontal-menu>
      </div>
    </div>
</pg-header>
<div class="page-container ">
  <!-- START PAGE CONTENT WRAPPER -->
  <div class="page-content-wrapper {{_pageContainerClass}}">
    <!-- START PAGE CONTENT -->
    <div class="content {{_contentClass}}">
        <div class="bg-white">
          <div class="container">
            <ol class="breadcrumb breadcrumb-alt">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)">Home</a>
              </li>
              <li class="breadcrumb-item active">Link</li>
            </ol>
          </div>
        </div>
        <router-outlet></router-outlet>
    </div>
    <!-- END PAGE CONTENT -->
    <!-- START COPYRIGHT -->
    <!-- START CONTAINER FLUID -->
    <ng-template [ngIf]="_footer">
      <div class=" container   container-fixed-lg footer">
        <div class="copyright sm-text-center">
          <p class="small no-margin pull-left sm-pull-reset">
            <span class="hint-text">Copyright &copy; 2017 </span>
            <span class="font-montserrat">REVOX</span>.
            <span class="hint-text">All rights reserved. </span>
            <span class="sm-block"><a href="javascript:void(0)" class="m-l-10 m-r-10">Terms of use</a> <span class="muted">|</span> <a href="javascript:void(0)" class="m-l-10">Privacy Policy</a></span>
          </p>
          <p class="small no-margin pull-right sm-pull-reset">
            Hand-crafted <span class="hint-text">&amp; made with Love</span>
          </p>
          <div class="clearfix"></div>
        </div>
      </div>
    </ng-template>
    <!-- END COPYRIGHT -->
    </div>
  <!-- END PAGE CONTENT WRAPPER -->
</div>
<!-- END PAGE CONTAINER -->
<app-search-overlay></app-search-overlay>
<app-quickview></app-quickview>
