<qavant-header title="Perfil"></qavant-header>

<ion-content padding>
  <div class="back-profile"></div>
  <section *ngIf="isReady">
    <div class="q-profile">
        <img  class="q-profile-pic" src="{{user?.photo}}" />
        <h1>{{user?.name}} {{user?.lastName}}</h1>
        <p><em>{{user?.area}}</em></p>
    
        <div class="q-profile-property" *ngIf="user?.birthDate">
          <span class="icon-cake"></span>
          <p>{{user?.birthDate}}</p>
        </div>
        <div class="q-profile-property" *ngIf="user?.phone || user?.intern">
          <span class="icon-phone"></span>
          <p>
            <a href="tel:{{user?.phone}}">{{user?.phone}}</a> 
            <span *ngIf="user?.phone && user?.intern">|</span>
            <span>Int. {{user?.intern}}</span>
          </p>
        </div>
        <div class="q-profile-property" *ngIf="user?.mobile">
          <span class="icon-celphone"></span>
          <p><a href="tel:{{user?.mobile}}">{{user?.mobile}}</a></p>
        </div>        
        <div class="q-profile-property" *ngIf="user?.email">
          <span class="icon-mail"></span>
          <p><a href="mailto:{{user?.email}}">{{user?.email}}</a></p>
        </div>
      </div>
  </section>

</ion-content>
