@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?shphal');
  src:  url('fonts/icomoon.eot?shphal#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?shphal') format('truetype'),
    url('fonts/icomoon.woff?shphal') format('woff'),
    url('fonts/icomoon.svg?shphal#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fast-mail:before {
  content: "\e900";
}
.icon-cake:before {
  content: "\e901";
}
.icon-celphone:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-cup:before {
  content: "\e905";
}
.icon-doc:before {
  content: "\e906";
}
.icon-gift:before {
  content: "\e907";
}
.icon-hart:before {
  content: "\e908";
}
.icon-link:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-play:before {
  content: "\e90c";
}
.icon-search:before {
  content: "\e90d";
}
.icon-star:before {
  content: "\e90e";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-play:before {
  content: "\e929";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-link1:before {
  content: "\e9cb";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-play2:before {
  content: "\ea15";
}
.icon-eye:before {
  content: "\e9ce";
}
