﻿@model IEnumerable<QavantWeb.Models.ActionLog>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-area-chart" aria-hidden="true"></i> Audiencia</h2>
<hr />

<div class="row">
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerEdades" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel">
            <div class="panel-heading">
                <div id="containerGender" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading"><div id="containerArea" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div></div>
        </div>
    </div>
</div>
<br />
<br />
@*<div class="row">
        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-heading">
                    <div id="containerSkillsBlandos" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel">
                <div class="panel-heading">
                    <div id="containerSkillsTecnicos" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                </div>
            </div>
        </div>
    </div>*@


<script>
    Highcharts.setOptions({
        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4'],
        lang: {
            loading: 'Cargando...',
            months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            weekdays: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            shortMonths: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            exportButtonTitle: "Exportar",
            printButtonTitle: "Imprimir",
            rangeSelectorFrom: "De",
            rangeSelectorTo: "Hasta",
            rangeSelectorZoom: "Período",
            downloadPNG: 'Descargar imagen PNG',
            downloadJPEG: 'Descargar imagen JPEG',
            downloadPDF: 'Descargar documento PDF',
            downloadSVG: 'Descargar imagen SVG',
            printChart: "Imprimir",
            downloadCSV: 'Descargar CSV',
            downloadXLS: 'Descargar XLS',
            openInCloud: 'Abrir en Highcharts Cloud'
        }
    });


    /*  DISTRIBUCIÓN POR ÁREA  (Activos y no Activos) */
    Highcharts.chart('containerArea', {
        chart: {
            type: 'column'
        },
        title: {
            text: '<b>Distribución por Área</b>'
        },
        xAxis: {
            categories: [@Html.Raw(ViewBag.Est_AudienciaPorArea)]
        },
        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: 'Total distribución por Área'
            }
        },
        legend: {
            reversed: true
        },        
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'Activos',
            data:  [@Html.Raw(ViewBag.Est_ActPorArea)]
        }, {
            name: 'Inactivos',
            data:  [@Html.Raw(ViewBag.Est_InactPorArea)]
        }],
        exporting: {

            buttons: {
                contextButton: {
                    menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                }
            }
        }
    });

    /*  DISTRIBUCIÓN POR EDAD  (Activos y no Activos) */
    Highcharts.chart('containerEdades', {
        chart: {
            type: 'bar'
        },
        title: {
            text: '<b>Audiencia por edad</b>'
        },
        xAxis: {
            categories: [@Html.Raw(ViewBag.porEdadDecenaUnida)]
        },
        yAxis: {
            allowDecimals: false,
            min: 0,
            title: {
                text: 'Cantidad'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            formatter: function () {
                var s = '<b>' + this.x + '</b>',
                    sum = 0;

                $.each(this.points, function (i, point) {
                    s += '<br/>' + '<span style="color:' + point.color + '">\u25CF</span>' + " " +  point.series.name + ': ' + '<b>' + point.y + '</b>';
                    sum += point.y;
                });

                s += '<br/>Total: ' + '<b>' + sum + '</b>' ;

                return s;
            },
            shared: true
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
                }
            }
        },
        series: [{
            name: 'Activos',
            data: [@Html.Raw(ViewBag.cantActivosPorEdad)]
        },
        {
            name: 'Inactivos',
            data: [@Html.Raw(ViewBag.cantInactivosPorEdad)]
            }],
        exporting: {

            buttons: {
                contextButton: {
                    menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                }
            }
        }
    });

    /* DISTRIBUCION POR GENERO */
    Highcharts.chart('containerGender', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: '<b>Audiencia por género</b>'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [@Html.Raw(ViewBag.Est_AudienciaPorGenero)]
        }],
        exporting: {

            buttons: {
                contextButton: {
                    menuItems: ['printChart', 'separator', 'downloadPNG', 'downloadJPEG', , 'downloadPDF', 'downloadSVG', 'separator', 'downloadCSV', 'downloadXLS', 'openInCloud']
                }
            }
        }
    });
</script>