﻿@model IEnumerable<QavantWeb.Models.FormsPerformanceEvaluation>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-area-chart" aria-hidden="true"></i> Evaluación de desempeño 2017</h2>
<hr />
<div class="col-md-6">
    <h3 class="text-center">
        Indicadores de Progreso
    </h3>
    <hr />
    <div id="porcPorAreas"></div>
    <div class="spacer"></div>
    <div id="avancePorAreas"></div>
</div>
<div class="col-md-6">
    <h3 class="text-center">
        Indicadores de Resultados
    </h3>
    <hr />
    <div id="analisisPorArea"></div>
    <div class="spacer"></div>
    <div id="comparativaInterAnual"></div>
</div>



<script type="text/javascript">

    //PROGRESO
    Highcharts.chart('porcPorAreas', {

        title: {
            text: 'Pendientes de evaluación'
        },

        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },

        series: [{
            type: 'pie',
            allowPointSelect: true,
            keys: ['name', 'y', 'selected', 'sliced'],
            data: [
                ['Administración', 29, false],
                ['RRHH', 71, false],
                ['Sistemas', 106, false],
                ['Operaciones', 129, false],
                ['Producción', 144, false],
                ['Marketing', 176, false],
                ['Ventas', 135, true, true],
                ['Soporte', 148, false]
            ],
            showInLegend: true
        }]
    });

    Highcharts.chart('avancePorAreas', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Evaluados vs pendientes de evaluar'
        },
        xAxis: {
            categories: ['Administración', 'RRHH', 'Sistemas', 'Operaciones', 'Producción', 'Marketing', 'Ventas', 'Soporte']
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Avance por areas'
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'Evaluados',
            color: '#90ed7d',
            data: [53, 33, 34, 72, 21, 12, 1,55]
        }, {
            name: 'Pendientes',
            color: '#f15c80',
            data: [24, 22, 33, 122, 31,29,59,33]
        }]
    });

    //RESULTADOS
    Highcharts.chart('analisisPorArea', {
        title: {
            text: 'Resultados Por Categorías'
        },
        xAxis: {
            categories: ['Desempeño Laboral', 'Factor Humano Actitudinal', 'Habilidades']
        },
        series: [{
            type: 'column',
            name: 'Administración',
            data: [3, 2, 1]
        }, {
            type: 'column',
            name: 'RRHH',
            data: [2, 3, 5]
        }, {
            type: 'column',
            name: 'Sistemas',
            data: [4, 3, 3]
        }, {
            type: 'column',
            name: 'Operaciones',
            data: [3, 2, 1]
        }, {
            type: 'column',
            name: 'Producción',
            data: [2, 3, 5]
        }, {
            type: 'column',
            name: 'Marketing',
            data: [4, 3, 3]
        }, {
            type: 'spline',
            name: 'Promedio',
            data: [3, 2.67, 3],
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }]
    });


    Highcharts.chart('comparativaInterAnual', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Evolución Interanual'
        },
        //subtitle: {
        //    text: 'Source: <a href="https://en.wikipedia.org/wiki/World_population">Wikipedia.org</a>'
        //},
        xAxis: {
            categories: ['Administración', 'RRHH', 'Sistemas', 'Operaciones', 'Producción', 'Marketing', 'Ventas', 'Soporte'],
            title: {
                text: null
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Puntaje total',
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        tooltip: {
            valueSuffix: ' promedio'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        //legend: {
        //    layout: 'vertical',
        //    align: 'right',
        //    verticalAlign: 'top',
        //    x: -40,
        //    y: 80,
        //    floating: true,
        //    borderWidth: 1,
        //    backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        //    shadow: true
        //},
        credits: {
            enabled: false
        },
        series: [{
            name: 'Año 2015',
            data: [3.3, 3.5, 4.2, 3.8, 3.8, 3.9, 4.3, 3.9],
        }, {
            name: 'Año 2016',
            data: [3.8, 3.9, 4.3, 3.8, 3.5, 4.2, 3.8, 3.9]
        }, {
            name: 'Año 2017',
            data: [3.9, 4.5, 4.5, 4.8, 4.2, 4.3, 3.8, 3.5]
        }]
    });
</script>
