﻿

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Qavant</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href=" @Url.Content("~/Content/Site.css") " rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jquery.dataTables.min.css")
    @Styles.Render("~/Content/font-awesome.css")

    <script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery/jquery.min.js"></script>

    <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatables/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatables/buttons.flash.min.js"></script>
    <script src="~/Scripts/datatables/jszip.min.js"></script>
    <script src="~/Scripts/datatables/pdfmake.min.js"></script>
    <script src="~/Scripts/datatables/vfs_fonts.js"></script>
    <script src="~/Scripts/datatables/buttons.html5.min.js"></script>
    <script src="~/Scripts/datatables/buttons.print.min.js"></script>

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/datetime-moment.js"></script>

    <script src="~/Scripts/highcharts/highcharts.js"></script>
    <script src="~/Scripts/highcharts/series-label.js"></script>
    <script src="~/Scripts/highcharts/exporting.js"></script>
    <script src="~/Scripts/highcharts/export-data.js"></script>
    <script src="~/Scripts/highcharts/wordcloud.js"></script>
    <script src="~/Scripts/highcharts/data.js"></script>
    <script src="~/Scripts/jquery.bootstrap-touchspin.js"></script>

    <link href="~/Scripts/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet">
    <link href="@Url.RouteUrl(new { controller="Css", action="GetTheme" })" rel="stylesheet" type="text/css" />

    @RenderSection("AddToHead", required: false)

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@(User.Identity.IsAuthenticated? QavantWeb.Common.EmpresayHelpers.getEmpresa().EmpresasCanales.Where(w=>w.CanalId==(short)QavantWeb.Models.Enums.Canales.Admin).FirstOrDefault().HomeURL:"/")">
                    <img src="@(User.Identity.IsAuthenticated? QavantWeb.Common.EmpresayHelpers.getEmpresa().LogoUrl:"https://qavantstg.blob.core.windows.net/qmt-container-prod/qavant-logo.png")" />
                </a>
            </div>
            <div class="navbar-collapse collapse">

                @{ Html.RenderAction("GetMenuNav", "Home"); }
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/ckeditor/ckeditor.js")
</body>
</html>
