﻿@model List<QavantWeb.Models.MenuItem>
<ul class="nav navbar-nav">
    @{foreach (QavantWeb.Models.MenuItem item in Model.Where(w => w.MenuItemPadreId == null).ToList())
        {
            <li @(Html.Raw(item.MenuItems1.Count > 0 ? "class=\"dropdown\"" : ""))>
                <a href="@item.TargetURL" target="@item.TargetDestino" @(Html.Raw(item.MenuItems1.Count > 0 ? "class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-expanded=\"false\"" : ""))>
                    @Html.Raw(item.Icono) @Html.Raw(item.NombreItem) @(Html.Raw(item.MenuItems1.Count > 0 ? "<span class=\"caret\"></span>" : ""))
                </a>
                @(Html.Raw(item.MenuItems1.Count > 0 ?  "<ul class=\"dropdown-menu\" role=\"menu\">" : ""))

                @{foreach (var firstItem in (Model.Where(s => s.MenuItemPadreId == item.Id).OrderBy(o => o.Orden).ToList()))
                    {
                    <li @(Html.Raw(firstItem.MenuItems1.Count > 0 ? "class=\"dropdown-submenu\"" : ""))>
                        <a href="@firstItem.TargetURL" target="@firstItem.TargetDestino" @(Html.Raw(firstItem.MenuItems1.Count > 0 ? "class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-expanded=\"false\"" : ""))>
                            @Html.Raw(firstItem.Icono) @Html.Raw(firstItem.NombreItem) 
                        </a>
                        @(Html.Raw(firstItem.MenuItems1.Count > 0 ? "<ul class=\"dropdown-menu\" role=\"menu\">" : ""))
                        @foreach (var secondItem in (Model.Where(s => s.MenuItemPadreId == firstItem.Id).OrderBy(o => o.Orden).ToList()))
                        {
                        <li @(Html.Raw(secondItem.MenuItems1.Count > 0 ? "class=\"dropdown-submenu\"" : ""))>
                            <a href="@secondItem.TargetURL" target="@secondItem.TargetDestino" @(Html.Raw(secondItem.MenuItems1.Count > 0 ? "class=\"dropdown-toggle\" data-toggle=\"dropdown\" role=\"button\" aria-expanded=\"false\"" : ""))>
                                @Html.Raw(secondItem.Icono) @Html.Raw(secondItem.NombreItem) 
                            </a>
                        </li>
                        }
                        @(Html.Raw(firstItem.MenuItems1.Count > 0 ? "</ul>" : ""))
                        </li>
                    }
                }
                @(Html.Raw(item.MenuItems1.Count > 0 ? "</ul>" : ""))
                </li>
                    }
    }
</ul>
