﻿@model QavantWeb.Models.AspNetUser
@{
    ViewBag.Title = "Delete";
}
<h2>Eliminar</h2>
<h3>¿Está seguro de que desea eliminar a @Model.UserName?</h3>
<div>

    <h4></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
        </div>
        <div class="panel-body">
            <div class="container col-md-12">
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt class="texto-label-left">
                            Nombre de usuario
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt class="texto-label-left">
                            Nombre
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                        <dt class="texto-label-left">
                            Apellido
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Surname)
                        </dd>

                        <dt class="texto-label-left">
                            Rol
                        </dt>

                        <dd>
                            @foreach (QavantWeb.Models.AspNetRole a in (List<QavantWeb.Models.AspNetRole>)ViewBag.lista)
                            {
                                var sel = (Model.AspNetRoles.Where(ca => ca.Id == a.Id).Count() > 0) ? "selected" : "";
                                if (sel == "selected")
                                {
                                    @a.Name<br>
                                }
                            }

                        </dd>

                        <dt class="texto-label-left">
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <a href="@Url.Action("Index", "AspNetUsers", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>
    }
</div>

