﻿@model IEnumerable<QavantWeb.Models.AspNetUser>
@{
    ViewBag.Title = "Administradores Eliminados";
}

<h2><i class="fa fa-users " aria-hidden="true"></i> Usuarios - Panel de Administración</h2>

<p>
    <a href="@Url.Action("Index", "AspNetUsers")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver a Lista de Administradores</a>
</p>

<table id="AspNetUsersList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Nombre de Usuario
            </th>
            <th>
                Rol
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @foreach (var i in item.AspNetRoles)
                {
                    if (i.Name == "Administrador")
                    {
                        @Html.DisplayFor(modelItem => i.Name)
                    }
                    if (i.Name == "Publicador")
                    {
                        @Html.DisplayFor(modelItem => i.Name)
                    }
                    if (i.Name == "RRHH")
                    {
                        @Html.DisplayFor(modelItem => i.Name)
                    }
                    if (i.Name == "Publicador Planillas Horarios")
                    {
                        @Html.DisplayFor(modelItem => i.Name)
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a href="@Url.Action("Enable", "AspNetUsers", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar al administrador nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }
</table>

<script>
    $(document).ready(function () {
        $('#AspNetUsersList').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>