﻿@model QavantWeb.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2><i class="fa fa-tasks" aria-hidden="true"></i> Gestionar</h2>
<br />
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Cambiar la configuración de la cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Contraseña:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Cambiar contraseña", "ChangePassword")
            }
            @*else
            {
                @Html.ActionLink("Create", "SetPassword")
            }*@
            ]
        </dd>      
        
    </dl>
</div>
