page-benefits-list {
    .sin-mpb{
        border: none;
        margin: 0px;
        padding: 0px;
    }
    .sin-borde{
        border-style: none;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .fondo{
        margin-top: 0px;
        padding-top: 0px;
        height: 150px;
        background-color: #e20614;
        color: white;
        border-style: none;
    }
    .size-1 {
        font-size: 16px;
    }
    .size-2 {
        font-size: 35px;
        font-weight: 600;
    }
    .mt-1{
        margin-top: 10px;
    }
    .mt-2{
        margin-top: 20px;
    }
    .ml-1{
        margin-left: 5px;
    }
    .content{
        background-color: rgb(233, 233, 233);
    }
    [col-12] {
        padding: 1.4px !important;
    }
}
