<qavant-header class="sin-borde" title="Catálogo"></qavant-header>

<ion-content class="content">  
 
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Tira hacia abajo para actualizar..."
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>

    <ion-grid class="fondo">
      <div class="size-1 ml-1 mt-1">Mis puntos acumulados</div>
      <div class="size-2 ml-1">{{ puntoAcumulados }}</div>

      <ion-grid class="sin-mpb">
        <ion-row class="sin-mpb">
          <ion-col class="sin-mpb">
              <ion-grid class="sin-mpb">
                  <ion-row class="sin-mpb">
                    <ion-col col-12 *ngFor="let beneficio of beneficioList1" class="sin-mpb" >
                        <qavant-card-beneficio [entidad]="beneficio" (click)="goToDetail(beneficio)"></qavant-card-beneficio>
                    </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-col>
          <ion-col class="sin-mpb">
              <ion-grid class="sin-mpb">
                  <ion-row class="sin-mpb">
                    <ion-col col-12 *ngFor="let beneficio of beneficioList2" class="" >
                        <qavant-card-beneficio [entidad]="beneficio" (click)="goToDetail(beneficio)"></qavant-card-beneficio>
                    </ion-col>
                  </ion-row>
              </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-grid>
    
    <div *ngIf='beneficioList?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </div>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más datos...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>