div.row{
    padding-bottom: 30px;
    div.info{
        padding: 0px;
        user-select: text !important;
        div.image{
            img{
                width: 100%;
            }
        }
    }
     div.detail{
         h2, h3{
            line-height: 1.2;
         }
         h2{
             font-size: 24px;
         }
         h3{
             font-size: 14px;
             color: #cacaca;
             font-style: italic;
             border-bottom: 1px #cacaca solid;
             padding-bottom: 20px;
         }
     }
}

div.node-content-wrapper-active{
    background: none !important;
    box-shadow: none;
}