<pg-container>
  <h1 [ngStyle]="settingsService.getTitleSectionStyle()">
    INFORMACIÓN ÚTIL
  </h1>
  <div class="row p-t-30" [@enterAnimation]="_loading ? 'loading':'ready'">
      <div *ngIf="hasTreeCategories()" class="col-md-5">
        <div class="card card-default">
          <div class="card-header ">
            <div class="card-title">
              Selecciona la información según su categoría.
            </div>
          </div>
          <div class="card-body">
            <p></p>
            <div>
              <div class="input-group transparent col-md-12 no-padding m-b-20">
                <input type="text" placeholder="Buscador" 
                  class="form-control"  #filter3
                  (keyup)="filterFn(filter3.value, tree.treeModel)">
                  <div class="input-group-append">
                      <span class="input-group-text transparent"><i class="pg pg-search"></i>
                      </span>
                  </div>
              </div>
              <tree-root #tree 
                (focus)="getChildren($event)"
                [options]="options"
                [nodes]="informationService.tree">
              </tree-root>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7" [@enterAnimation]="hasInfo() ? 'loading':'ready'">
        <div class="col-md-12 card info" *ngIf="detail">
          <div *ngIf="hasImage()" class="image">
            <img [src]=detail.Imagen alt=""/>
          </div>
          <div class="col-md-12 detail">
            <h2 [ngStyle]="{color:settingsService.getPrimaryColor()}">
              {{detail.Titulo}}
            </h2>
            <h3 *ngIf="hasSubtitle()">{{detail.Copete}}</h3>
            <div [innerHtml]="detail.Html"></div>
          </div>
        </div>
      </div>
 
  </div>
  <div *ngIf="!hasTreeCategories() && !_loading"  class="alert alert-info" role="alert">
    <p class="text-center">
      No se encontraron resultados.
    </p>
  </div>
</pg-container>
<!-- END CONTAINER FLUID -->