
<qavant-header title="Activar cuenta"></qavant-header>
<ion-content padding>
	<div class="description">
		<p>Para activar su cuenta <br />ingrese el nombre de usuario.</p>
	</div>
  <form (ngSubmit)="validate()" [formGroup]="validateAccountForm">
	<ion-list inset>

			<!--<ion-item [ngClass]="{ invalid: empresaErrors.hasError('*', ['touched', 'dirty']) }">
					<ion-input type="text" placeholder="Empresa" formControlName="empresa"></ion-input>
			</ion-item>
				
			<div ngxErrors="empresa" #empresaErrors="ngxErrors">
				<div class="validation" [ngxError]="['empresa', 'required']" [when]="['touched', 'dirty']">Campo requerido</div>
			</div>-->

		<ion-item [ngClass]="{ invalid: usernameErrors.hasError('*', ['touched', 'dirty']) }">
			<ion-input type="text" placeholder="Usuario" formControlName="username"></ion-input>
		</ion-item>
		<div ngxErrors="username" #usernameErrors="ngxErrors">
			<div class="validation" [ngxError]="['username', 'required']" [when]="['touched', 'dirty']">Campo requerido</div>
		</div>
	</ion-list>
	<div>
		<button ion-button full type="submit" [disabled]="!validateAccountForm.valid">Enviar</button>
	</div>
  </form>
</ion-content>