<div class="col-sm-12 card-suggestion">
  <div class="row">
    <div class="col-lg-5 card-suggestion-image">
      <a [routerLink]="[getRouter(), getId()]">
        <img [src]="getImage()" alt="" title="">
      </a>
    </div>
    <div class="col-lg-7 card-suggestion-content">
      <h3 title="{{getTitle()}}">
        <a [routerLink]="[getRouter(), getId()]" class="truncate-2-lines"
          [ngStyle]="{color:settingsService.getPrimaryColor()}">
          {{getTitle()}}
        </a>
      </h3>
      <p class="truncate-2-lines">
        {{getSubtitle()}}
      </p>
    </div>
  </div>
</div>
