﻿@model QavantWeb.Models.Document

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Confirme que quiere eliminar este elemento.</h3>
<div>
    <h4>Documento @ViewBag.SubTitle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Título
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            Subtítulo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <a href="@Url.Action("Index", "Documents", new { iDocumentLibrary = Model.DocumentLibraryId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>

    }
</div>
