﻿@model IEnumerable<QavantWeb.Models.Document>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-folder-open " aria-hidden="true"></i> Documentos eliminados @ViewBag.SubTitle</h2>

<p>
    <a href="@Url.Action("Index", "Documents", new { iDocumentLibrary = ViewBag.iDocumentLibrary })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver a la Lista</a>
</p>

<table id="DocumentsList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                Título
            </th>
            <th>
                Subtítulo
            </th>
            <th>
                Categoría
            </th>
            <th>
                Ult Modif
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.Filepath" target="_blank">
                    @switch (item.DocumentType.Id)
                    {
                        case (int)QavantWeb.Models.Enums.DocumentTypes.Documento:
                            <i class="fa fa-file-text-o fa-2x fa-fw" style="color: #04B431;" aria-hidden="true"></i>
                            break;
                        case (int)QavantWeb.Models.Enums.DocumentTypes.Video:
                            <i class="fa fa-file-video-o fa-2x fa-fw" style="color: #0000FF" aria-hidden="true"></i>
                            break;
                        default:
                            <i class="fa fa-file-o fa-2x fa-fw" aria-hidden="true"></i>
                            break;
                    }
                </a>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a href="@Url.Action("Enable", "Documents", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar el documento nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }

</table>

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY HH:mm');
        $('#DocumentsList').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
