@import "../../../styles.scss";


.form-search{
  padding: 20px 0px 20px 0px;
  z-index: 0px;
}

input{
  width: 400px;
}

.image, .info{
  min-height: 140px;
}

.card-user div.image{
  margin-bottom: 10px;
}

.card-user div img{
  width: 70px;
  height: 70px;
  object-fit: cover
}

.info p{
  font-size: 14px;
  width: 100% !important;
}

.info a{
  padding-bottom: 15px;
}

.email a{
  color: #626262;
}

.area{
  text-transform: capitalize;
  font-size: 13px;
  font-weight: bold;
}

/deep/ .row {
  // position: absolute !important;
  z-index: 10 !important;
}

/deep/ .header{
  z-index: 990;
}
.content-search{
  // background-color: red;

  // height: 20rem;
  width: 100%;
  position: absolute;
  z-index: 990;
  padding: 0px 20px 0px 20px;
  // top: 10;
}
/deep/ .completer-dropdown {
  // width: 32% !important;
  // overflow-y: auto;
  overflow-x: scroll;
  height: 15rem;
  top: 30 !important;
  margin-top: 20px;
  width: 398px !important;
}

/deep/ #buscador {
  width: 400px !important;

  // border: none;
}


.content-user{
  margin-top: 90px;
}

form{
  float: right;
}

.show-all{
  // border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

@include mq($from: mobile) {
}

@include mq($from: tablet) {

}

@include mq($from: desktop) {
  div.card-user{
    div.image{
      padding-right: 0px;
    }
    p{
      margin-bottom: 0px;
      i{
        margin-right: 10px;
      }
    }

    p.phone i{
      font-size: 19px;
    }
  }
}

@include mq($from: wide) {

}

.my-pagination /deep/ .ngx-pagination .current {
  background: transparent !important;
  opacity: 1;
  font-weight: bold;
  line-height: 22px;
  color: #626262;
  font-size: 14px;
}
.my-pagination /deep/ .ngx-pagination .ng-star-inserted {
  font-size: 11px;
  color: #b6b6b6;
}
