﻿@model QavantWeb.ViewModels.NoticiaViewModel

@{
    /**/

    ViewBag.Title = "Create";
}

<h2>Crear</h2>
@using (Html.BeginForm("Create", "News", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Noticias</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Título</b></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.Noticia.Titulo, new { htmlAttributes = new { @class = "form-control titulo" } })
                @Html.ValidationMessageFor(model => model.Noticia.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Subtítulo</b></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.Noticia.Copete, new { htmlAttributes = new { @class = "form-control subtitulo" } })
                @Html.ValidationMessageFor(model => model.Noticia.Copete, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Fecha</b></div>
            <div class="col-md-11">
                @Html.TextBoxFor(m => m.Noticia.FechaDesde, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(model => model.Noticia.FechaDesde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Contenido</b></div>
            <div class="col-md-11">
                <form>
                    <textarea name="__Content" id="__Content" rows="10" cols="80">@Html.Raw(HttpUtility.HtmlDecode(Model.Noticia.Contenido))</textarea>
                    <script>
                        CKEDITOR.replace('__Content');
                    </script>
                </form>
                @Html.ValidationMessageFor(model => model.Noticia.Contenido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Imagen</b></div>
            <div class="col-md-11">
                <img id="img" name="img" alt="" style="width:200px" />
                <div>
                    <input type="file" id="Image" name="Image" onchange="showimagepreview(this)" style="float: left;" />
                </div>
                <div>
                    <a class="col-md-1" id="tooltipsFile"> <i class="fa fa-lg fa-question-circle fa-2x" aria-hidden="true"> </i> </a>
                </div>

                <div id="borrar" style="display:none">
                    <input type="button" value="Eliminar foto" onclick="Borrar(Image)" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Destacada</b></div>
            <div class="col-md-11">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Noticia.Destacada)
                </div>
            </div>
        </div>

        @Html.Partial("_Filtros", Model.FiltroConfig)

        <hr />
        <div class="form-group">
            <div>
                <a href="@Url.Action("Index", "News")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
                <button type="submit" class="btn btn-primary"> Guardar </button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>
    <script src="~/Scripts/Pages/validation-summary.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#tooltipsFile').tooltip(
                {
                    placement: 'right',
                    html: 'true',
                    title: '<strong>Instrucciones:</strong> Para mejor performance las imágenes no deben superar 1MB de tamaño.'
                }
            );
        });

        var uploadField = document.getElementById("Image");
        uploadField.onchange = function () {
            validateImageSize(this);
            validateImageExtension(this);
        };

        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();// Creo la instancia de FileReader
                reader.onload = function (e) {
                    document.getElementById('img').setAttribute("src", e.target.result);//seteo y cargo el tag img
                }
                reader.readAsDataURL(input.files[0]);//leo el contenido del file
                document.getElementById('borrar').style.display = 'block'; //Muestro El boton Borrar
            }
            else { //No muestro nada
                document.getElementById('img').setAttribute("src", "");
                document.getElementById('borrar').style.display = 'none';
            }
        }

        function Borrar(id) {
            document.getElementById('img').setAttribute("src", "");//Oculto img actual
            document.getElementById('borrar').style.display = 'none';//Oculto boton Borrar
            document.getElementById('Image').value = "";//Ningún archivo seleccionado
        }
    </script>


}

