﻿@model IEnumerable<QavantWeb.Models.Noticia>

@{
    ViewBag.Title = "NOTICIAS ELIMINADAS";
}

<h2><i class="fa fa-bullhorn " aria-hidden="true"></i> Noticias - Eliminadas</h2>

<p>
    <a href="@Url.Action("Index", "News")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver a Lista de Noticias</a>
</p>

<table id="NewsList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Subtítulo
            </th>
            <th>
                Imagen
            </th>
            <th></th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Copete)
            </td>
            <td>

                @if (item.Image != null)
                {
                    <img src="@Html.DisplayFor(modelItem => item.Image)" style="max-width:100px;" />
                }
            </td>
            <td>
                <a href="@Url.Action("Enable", "News", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar esta página nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }
    @*<a href="~/Views/News/Index.cshtml">~/Views/News/Index.cshtml</a>*@
</table>

<script>
    $(document).ready(function () {
        $('#NewsList').DataTable({
            "order":[[1,"desc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>

