﻿@model IEnumerable<QavantWeb.Models.Noticia>

@{
                /**/

                ViewBag.Title = "Index";
}

<h2><i class="fa fa-bullhorn " aria-hidden="true"></i> Noticias</h2>

<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "News")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Noticia</a>
    <a href="@Url.Action("IndexDeleted", "News")" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Noticias Eliminadas</a>
</div>

<div class="col-xs-12">
    <table id="NewsList" class="table hover display compact stripe">
        <thead>
            <tr>
                <th>
                    Título
                </th>
                <th>
                    Subtítulo
                </th>
                <th>
                    Imagen
                </th>
                <th>
                    Ult Modif
                </th>
                <th>
                    Destacada
                </th>
                <th></th>
            </tr>
        </thead>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Copete)
                </td>
                <td>
                    @if (item.Image != null)
                    {
                        <img src="@Html.DisplayFor(modelItem => item.Image)" style="max-width:100px;" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDesde)
                </td>
                <td>
                    @if (item.Destacada)
                    {
                        <i class="fa fa-check-circle fa-2x fa-fw" style="color: #04B431;" aria-hidden="true"></i>
                    }
                    @*else
                        {
                            <i class="fa fa-times-circle fa-2x fa-fw" style="color: #ff0000" aria-hidden="true"></i>
                        }*@
                </td>
                <td>

                    <a href="@Url.Action("Edit", "News", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                    <a href="@Url.Action("Delete", "News", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>

                    @*@Html.ActionLink("Editar/Detalles", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
        @*<a href="~/Views/News/Index.cshtml">~/Views/News/Index.cshtml</a>*@
    </table>
</div>

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY');
        $('#NewsList').DataTable({
            "order": [[3, "desc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>

