﻿@model QavantWeb.Models.Categoria

@{
    ViewBag.Title = "Create";
}

<h2>Categoría</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Crear</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="control-label col-md-2"> Módulo </div>
        <div class="col-md-10">
            <select id="modulosDropDownList" class="form-control" name="ModuloId"></select>
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> Nombre </div>
        <div class="col-md-10">
            <input id="nombre" name="Nombre" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"> Padre </div>
        <div class="col-md-10">
            <select id="categoriasDropDownList" class="form-control" name="PadreCategoriaId"></select>
        </div>
    </div>

    <div class="form-group col-md-12">
        <hr />
        <a href="@Url.Action("Index", "Categorias")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <input type="submit" value="Crear" class="btn btn-primary" id="cmdSubmit" />
    </div>
</div>
}




<script>
    $(document).ready(function () {

        //populamos combo "módulos"
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetModulos", "Categorias")',
            dataType: "json",
            success: function (data) {
                $('#modulosDropDownList').html('');
                var options = '';
                options += '<option value="0">Seleccionar</option>';
                for (var i = 0; i < data.length; i++) {
                    options += '<option value="' + data[i].Id + '">' + data[i].Nombre + '</option>';
                }
                $('#modulosDropDownList').append(options); 
            },
            error: function (error) {
                alert(error.StatusText);
            }
        });

        //populamos combo categorias
        $('#modulosDropDownList').on("change", function () {
            var moduloId = $('#modulosDropDownList').val();
            if (moduloId == 0) {
                $('#categoriasDropDownList').html('');
                return;
            }

            var obj = { moduloId: moduloId };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCategoriasByModulo", "Categorias")',
                dataType: "json",
                data: obj,
                success: function (data) {
                    $('#categoriasDropDownList').html('');
                    var options = '';
                    options += '<option value="0">Sin Padre</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].Id + '">' + data[i].Nombre + '</option>';
                    }
                    $('#categoriasDropDownList').append(options); 
                },
                error: function (error) {
                    alert(error.StatusText);
                }
            });
        });

        //validaciones
        $("#cmdSubmit").click(function (event) {
            event.preventDefault();
            if ($('#modulosDropDownList').val() == 0) {
                alert("Seleccione un módulo");
                return;
            }
                

            if ($('#nombre').val() === "") {
                alert("Ingrese un nombre de categoría");
                return;
            }
                
            $("form").submit();
        });

    });

</script>
