﻿@model QavantWeb.Models.Categoria

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar esta categoría?</h3>
<div>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Datos</h3>
        </div>
        <div class="panel-body">
            <div class="container col-md-12">
                <div class="row">
                    <dl class="dl-horizontal">
                        <dt class="texto-label-left">
                            Nombre
                        </dt>
                        <dd class="texto-label-left">
                            @Html.DisplayFor(model => model.Nombre)
                        </dd>
                        <dt class="texto-label-left">
                            Padre
                        </dt>
                        <dd class="texto-label-left">
                            @Html.DisplayFor(model => model.Categoria1.Nombre)
                        </dd>
                        <dt class="texto-label-left">
                            Módulo
                        </dt>
                        <dd class="texto-label-left">
                            @Html.DisplayFor(model => model.Modulo.Nombre)
                        </dd>
                    </dl>
                </div>
            </div>

            </dl>
        </div>
    </div>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <a href="@Url.Action("Index", "Categorias", new { id = Model.Id })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span> Eliminar </button>
    }
</div>
