﻿@model QavantWeb.Models.Area

@{
    ViewBag.Title = "Create";
}

<h2>Crear</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Nuevo Area</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="control-label col-md-2"><b>Nombre</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"><b>Área Padre</b></div>
        <div class="col-md-10 checkbox">
            @Html.DropDownList("AreaPadreId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AreaPadreId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Habilitado</b></div>
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Habilitada, new { @checked = "checked", @class = "no-left-margin" })
                @Html.ValidationMessageFor(model => model.Habilitada, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group col-md-12">
        <hr />
        <a href="@Url.Action("Index", "Areas")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button type="submit" class="btn btn-primary"> Guardar </button>
    </div>
</div>
}
