﻿@model IEnumerable<QavantWeb.Models.Area>

@{
    ViewBag.Title = "Index";
}

<h2><i class="fa fa-puzzle-piece " aria-hidden="true"></i> Áreas</h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("Create", "Areas")" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nueva Área </a>
    <a href="@Url.Action("IndexDeleted", "Areas")" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Áreas deshabilitadas</a>
</div>

<table id="AreasList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Habilitado
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.Habilitada == true)
                {
                    @*<p>Si</p>;*@
                    <i class="fa fa-check-circle fa-2x fa-fw" style="color: #5cb85c;" aria-hidden="true"></i>
                }
                else
                {
                    @*<p>No</p>;*@
                    <i class="fa fa-times-circle fa-2x fa-fw" style="color: #d9534f" aria-hidden="true"></i>
                }

            </td>
            <td>
                <a href="@Url.Action("Edit", "Areas", new { id = item.Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                <a href="@Url.Action("Delete", "Areas", new { id = item.Id })" class="btn btn-danger"><span class="glyphicon glyphicon-trash " aria-hidden="true"></span></a>
            </td>
        </tr>
    }

</table>



<script>
    $(document).ready(function () {
        $('#AreasList').DataTable({
            "ordering": false,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>