﻿@model IEnumerable<QavantWeb.Models.Area>

@{
    ViewBag.Title = "Áreas deshabilitadas";
}

<h2> Áreas</h2>
<div style="margin-bottom: 30px">
    <a href="@Url.Action("Index", "Areas")" class="btn btn-default"><span class="glyphicon glyphicon-left" aria-hidden="true"></span>  Volver a la Lista de Áreas </a>   
</div>

<table id="AreasList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Habilitado
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @if (item.Habilitada == true)
                {
                    @*<p>Si</p>;*@
                    <i class="fa fa-check-circle fa-2x fa-fw" style="color: #5cb85c;" aria-hidden="true"></i>
                }
                else
                {
                    @*<p>No</p>;*@
                    <i class="fa fa-times-circle fa-2x fa-fw" style="color: #d9534f" aria-hidden="true"></i>
                }

            </td>
            <td>
                <a href="@Url.Action("Enable", "Areas", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar esta área nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }
   
</table>



<script>
    $(document).ready(function () {
        $('#AreasList').DataTable({
            "ordering": false,
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>