<pg-container>
  <h1 [ngStyle]="settingsService.getTitleSectionStyle()">
    CAPACITACIONES
  </h1>

  <div class="row" [@enterAnimation]="!hasTraining() ? 'loading':'ready'">

    <ng-container *ngFor="let trainig of trainings">
      <div class="col-sm-3">
        <div class="card">
          <div class="row">
            <div class="col-sm-3 d-flex align-items-center image">
              <p class="icon" (click)="goToDetail(trainig.Id)">

                <span *ngIf="hasVideo(trainig)">
                  <i class="fas fa-video"></i>
                </span>
                <span *ngIf="hasDocument(trainig)">
                    <i class="fas fa-file-alt"></i>
                </span>
                <span *ngIf="hasLink(trainig)">
                    <i class="fas fa-link"></i>
                </span>
              </p>
            </div>
            <div class="col-sm-9 info">
              <h2 [ngStyle]="{'color': settingsService.getPrimaryColor()}"
                (click)="goToDetail(trainig.Id)">
                {{trainig.Title}}
              </h2>

            </div>
            <div class="tooltip-message">
              <span *ngIf="trainig.UserWasAlreadyEvaluated" class="poll-done">
                  <i class="fa fa-check-circle"></i>
                  Encuesta respondida.
              </span>
              <!-- <span class="poll-done">
                <i class="fa fa-check-circle"></i>
                Formulario ya enviado.
              </span> -->
              <!-- <span class="poll-done-again">
                  <i class="fas fa-pen"></i>
                  Volver a responder.
              </span> -->
              <span *ngIf="trainig.UserWasAlreadyEvaluated" class="tooltiptext">
                Esta capacitación tiene una evaluación que se puede realizar una sola vez y ya lo has hecho, igualmente podrás entrar para ver la capacitación nuevamente.
              </span>
            </div>
          </div>
        </div>
      </div>

    </ng-container>

    <!-- <div class="card-body p-r-0 p-l-0">
      <div class="row">
        <ng-container *ngFor="let trainig of trainings">
            <div class="col-lg-4">
              <pgcard MinimalHeader="true" TimeOut="2500">
                <ng-template #CardTitle>
                  <h3 [ngStyle]="settingService.getCardTitleStyle()"
                      (click)="goToDetail(trainig.Id)">
                    {{trainig.Title}}
                  </h3>
                </ng-template>
                <p class="footer">
                  <span *ngIf="hasVideo(trainig)">
                    <i class="fas fa-video"></i>
                  </span>
                  <span *ngIf="hasDocument(trainig)">
                      <i class="fas fa-file"></i>
                  </span>
                  <span *ngIf="hasLink(trainig)">
                      <i class="fas fa-link"></i>
                  </span>
                </p>
              </pgcard>
            </div>
        </ng-container>
      </div>
    </div> -->
  </div>
  <ng-container *ngIf="hasTraining()">
    <div *ngIf="trainings.length ===0" class="alert alert-info" role="alert">
      <p class="text-center">
        No se encontraron resultados.
      </p>
    </div>
  </ng-container>

</pg-container>
