<qavant-header title=""></qavant-header>
<ion-content padding>
  <div *ngIf="isReady">
    <div class="content-header">
        <img  *ngIf="noticia?.imagen" src="{{noticia?.imagen}}" />
        <h1>{{noticia?.titulo | truncate:70}}</h1>
    </div>
    <div class="content-body">
      
      <div class="metadata">
        <span class="type">Noticias</span>
        <span class="date">{{noticia?.fechaAlta}}</span>
      </div>      
      <div class="copete">{{noticia?.copete}}</div>
      <div class="content" [innerHTML]="noticia?.contenido"></div>
    </div>
  </div>
</ion-content>