﻿@using QavantWeb.Models;
@model QavantWeb.Models.Form

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Formulario @ViewBag.SubTitle</h2>

<h3>Confirme que quiere eliminar este elemento.</h3>
<div>
    @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    @Html.Hidden("hfValidateCourses", Model.FormTypeId == (int)Enums.FormsTypes.Evaluacion, new { @id = "hfValidateCourses" })
    @if (Model.FormTypeId == (int)Enums.FormsTypes.Evaluacion)
    {
        <div class="panel panel-default" id="pnlCourses">
            <div class="panel-heading">
                <h3 class="panel-title">Capacitaciones vinculadas</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">


                        <table id="tblCourses" class="table table-hover @if (Model.Courses.Count() > 0)
                    { <text>display</text> } else {<text>hide</text> } compact stripe">
                            <thead>
                                <tr>
                                    <th class="col-md-3">Título</th>
                                    <th class="col-md-4">Subtítulo</th>
                                    <th class="col-md-1">
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Courses.Count; i++)
                                {
                                    <tr id="tr_fil_@i">
                                        <td>@Model.Courses.ElementAt(i).Title</td>
                                        <td>@Model.Courses.ElementAt(i).Description</td>
                                        <td>
                                            <a href="@Url.Action("Edit", "Courses", new { id = Model.Courses.ElementAt(i).Id })" class="btn btn-primary"><span class="glyphicon glyphicon-pencil " aria-hidden="true"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                        <div id="div-no-filters" class="alert alert-info @if (Model.Courses.Count() == 0)
                    { <text>display</text> } else {<text>hide</text> }">
                            Esta evaluación no tiene capacitaciones asociadas.
                        </div>


                    </div>
                </div>
            </div>
        </div>
    }





    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a href="@Url.Action("Index", "Forms", new { iFormTypeId = Model.FormTypeId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <input id="btnDelete" type="submit" value="Eliminar" class="btn btn-danger" />

        </div>
    }
</div>
<script src="~/Scripts/Pages/validation-summary.js"></script>
<script>
    $("#btnDelete").on('click', function () {
        return validateCoursesCount();
    });

    function validateCoursesCount() {
        var isValid = false;
        var validateCourses = $("#hfValidateCourses").val() == "True";
        var tblCoursesVisible = $("#tblCourses:visible").length != 0;

        if (!validateCourses) {
            isValid = true;
            return isValid;
        }

        isValid = !tblCoursesVisible;

        if (!isValid)
            addErrorToValidationSummary("Para poder eliminar la evaluación debe desasociarla de todas las capacitaciones vinculadas.");

        return isValid;
    }


    function addErrorToValidationSummary(message) {
        var newUl = "<li>" + message + "</li>"
        $("#myAlert ul").empty();
        $("#myAlert ul").append(newUl);
    }
</script>
