﻿@model IEnumerable<QavantWeb.Models.Form>

@{
    ViewBag.Title = "FORMULARIOS ELIMINADOS";
}

<h2><i class="fa fa-question-circle " aria-hidden="true"></i> Formularios @ViewBag.SubTitle </h2>

<p>
    <a href="@Url.Action("Index", "Forms", new { iFormTypeId = ViewBag.iFormTypeId })" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver a Lista </a>
</p>

<table id="FormList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Desde
            </th>
            <th>
                Hasta
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTo)
            </td>
            <td>
                <a href="@Url.Action("Enable", "Forms", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar @ViewBag.FormTypeDescription nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }

</table>


<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('DD/MM/YYYY');
        $('#FormList').DataTable({
            //"order": [[2, "desc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>