﻿@model QavantWeb.Models.InfoUtil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Información útil</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Copete)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Copete)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Html)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Html)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Orden)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Orden)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destacada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destacada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Habilitado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Habilitado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
