﻿@model QavantWeb.ViewModels.InfoUtilViewModel

@{
    ViewBag.Title = "Editar Información Útil";
}

<h2> Información útil </h2>

@using (Html.BeginForm("Edit", "InfoUtil", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <input id="hfAction" type="hidden" value="edit" />
    <div class="form-horizontal">
        <h4>Editar</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
        @Html.HiddenFor(model => model.InfoUtil.Id)
        @Html.HiddenFor(model => model.InfoUtil.EmpresaId)

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="control-label texto-label-left col-md-1"><b>Título</b></div>
                        <div class="col-md-offset-2 col-md-9">
                            @Html.EditorFor(model => model.InfoUtil.Titulo, new { htmlAttributes = new { @class = "form-control titulo" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label texto-label-left col-md-1"><b>Subtítulo</b></div>
                        <div class="col-md-offset-2 col-md-9">
                            @Html.EditorFor(model => model.InfoUtil.Copete, new { htmlAttributes = new { @class = "form-control subtitulo" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label texto-label-left col-md-1"><b> Categoría</b></div>
                        <div class="col-md-offset-2 col-md-9">
                            @Html.DropDownListFor(model => model.InfoUtil.CategoriaId, (SelectList)ViewBag.CategoriaId, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label texto-label-left col-md-1"><b> Orden</b></div>
                        <div class="col-md-offset-2 col-md-4">
                            @Html.EditorFor(model => model.InfoUtil.Orden, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "1", @value = "1" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label texto-label-left col-md-1"><b> Destacada</b></div>
                        <div class="col-md-offset-2 col-md-6">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.InfoUtil.Destacada, new { htmlAttributes = new { @class = "no-left-margin" } })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label texto-label-left col-md-1">Imagen</label>
                        <div class="col-md-offset-2 col-md-9">
                            @if (Model.InfoUtil.Imagen != null)
                            {
                                <div id="borrar" style="display:block" class="form-file">
                                    <input type="button" value="Eliminar foto" onclick="Borrar()" />
                                </div>

                                <div id="subirImg" style="display:none" class="form-file">
                                    <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" />
                                    <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.InfoUtil.Imagen)" />
                                </div>

                                <img src="@Html.DisplayFor(model => model.InfoUtil.Imagen)" id="Image" name="Image" alt="" style="max-width:200px;" />
                            }
                            else
                            {
                                <div id="subirImg" style="display:block" class="form-file">
                                    <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" />
                                    <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.InfoUtil.Imagen)" />
                                </div>

                                <div id="borrar" style="display:none">
                                    <input type="button" value="Eliminar foto" onclick="Borrar()" />
                                </div>

                                <img src="@Html.DisplayFor(model => model.InfoUtil.Imagen)" id="Image" name="Image" alt="" style="max-width:200px;display:none;" />
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="control-label texto-label-left col-md-2"><b> Información</b></div>
                        <div class="col-md-10">
                            <div class="col-md-12">
                                <div class="control-label texto-label-left col-md-12"><b> Información</b></div>
                                <form>
                                    <textarea name="__Content" id="__Content" rows="10" cols="80"> @Html.Raw(HttpUtility.HtmlDecode(Model.InfoUtil.Html))</textarea>
                                    <script>
                                        CKEDITOR.replace('__Content');
                                    </script>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        @Html.Partial("_Filtros", Model.FiltroConfig)
        <div class="form-group col-md-12">
            <hr />
            <a href="@Url.Action("Index", "InfoUtil")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            <button id="btn_guardar" type="submit" class="btn btn-primary"> Guardar </button>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
    <script src="~/Scripts/Pages/CKEditor-is-there-content.js"></script>
    <script src="~/Scripts/Pages/infoutil-validacion.js"></script>
    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var cat = $("#InfoUtil_CategoriaId").val();
            var cmbCat = $("#InfoUtil_CategoriaId option").text();
            if (cmbCat.length < 12) {
                if (cat == "" || cat == undefined) {
                    var message = "<strong>No existe ninguna 'Categoría' para Información Útil.</strong><br >Primero debe crear una Categoría en la sección Administración -> Categorías.";
                    $('#myAlert > ul').append('<li>' + message + '</li>');
                    return false;
                }
            }
        });

        var uploadField = document.getElementById("ImageFile");
        uploadField.onchange = function () {
            validateImageSize(this);
            validateImageExtension(this);
        };
        function Borrar() {
            document.getElementById('Image').setAttribute("src", ""); //Oculto tag img actual
            document.getElementById('borrar').style.display = 'none'; //Oculto boton Borrar
            document.getElementById('subirImg').style.display = 'block'; //muestro el input
            document.getElementById('Image').value = ""; //Ningún archivo seleccionado
            document.getElementById('ImageFile').value = ""; //Ningún archivo seleccionado
            document.getElementById('foto').value = ""; //borro lo que tenga el hidden
        }
        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();// Creo la instancia de FileReader
                reader.onload = function (e) {
                    document.getElementById('Image').setAttribute("src", e.target.result);//seteo y cargo el tag img
                }
                reader.readAsDataURL(input.files[0]);//leo el contenido del file
                document.getElementById('borrar').style.display = 'block'; //Oculto El boton Borrar
                document.getElementById('Image').style.display = 'block';//muestro
            }
            else { //No muestro nada
                document.getElementById('Image').setAttribute("src", "");
                document.getElementById('borrar').style.display = 'none';
            }
        }
    </script>
}


