qavant-card-puntos-catalogo {
    .card{
        width: auto;
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 5px;
    }
    .content{
        position: relative;
    }
    .mi-label{
        position: absolute;
        top: 85px;
        font-size: 35px;
        color: white;
        left: 30px;
    }
}
