/* You can add global styles to this file, and also import other style files */
// @import "node_modules/sass-mq/mq";
@import '~sass-mq';

$mq-responsive: true;

$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    desktopAd: 810px,
    mobileLandscape: 480px
);

@include mq($from: mobile) {
  h1,
  h2,
  h3,
  h4,
  label,
  .list-group li{
    font-family: 'Segoe UI', Roboto, Tahoma, Geneva, Verdana, sans-serif !important;
  }
}

@include mq($from: tablet) {

}

@include mq($from: desktop) {
  .tooltip-message .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-message .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip-message:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-message {
    span.poll-done{
      color: #28a745 !important;
    }
    span.poll-done-again{
      color: #856404;
    }
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    // background-color: #28a745;
    min-height: 30px;
    bottom: 0;
    right: 0;
    // border-bottom: 1px dotted black;
  }
  .social-card, .card, div.card-detail {
    border-color: rgb(197, 193, 193) !important;
    border: 1px solid rgba(0,0,0,.125);
  }

  .truncate-2-lines{
    display: -webkit-box !important;
    max-height: 2.5rem;
    -webkit-box-orient: vertical !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    -webkit-line-clamp: 2 !important;
    line-height: 1.2rem;
  }
  .carousel-control{
    height: 250px !important;
    margin-top: 125px;
    cursor: pointer;
  }

  div.tab-content{
    padding: 0px !important;
    background-color: #fff;
  }
}


@include mq($from: wide) {
}
