﻿@model QavantWeb.Models.Benefit

@{
    ViewBag.Title = "Create";
}
@*<script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>*@
@*<script src="~/ckeditor/ckeditor.js" type="text/javascript"></script>*@
<h2>Crear</h2>
@using (Html.BeginForm("Create", "Benefits", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
<<<<<<< HEAD


    <div class="form-horizontal">
        <h4>Beneficios</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="control-label col-md-2"><b>Título</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
=======
   
    
<div class="form-horizontal">
    <h4>Beneficios</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="control-label col-md-2"><b>Título</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
>>>>>>> origin/master
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Subtítulo</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Subtitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Subtitle, "", new { @class = "text-danger" })
        </div>
    </div>


<<<<<<< HEAD
        <div class="form-group">
=======
    @*<div class="form-group">
>>>>>>> origin/master
            <div class="control-label col-md-2"><b>Área</b></div>
            <div class="col-md-10 checkbox">
                <select style="width: 100%;" id="listArea" name="listArea" class="form-control">
                    @foreach (QavantWeb.Models.Area a in (List<QavantWeb.Models.Area>)ViewBag.listArea)
                    {
                        <option value="@a.Id"> @a.Name</option>
                    }
                </select>
            </div>
        </div>*@

    <div class="form-group">
        <div class="control-label col-md-2"><b>Contenido</b></div>
        <div class="col-md-10">
            <form>
                <textarea name="__Content" id="__Content" rows="10" cols="80"></textarea>
                <script>
                    CKEDITOR.replace('__Content');
                </script>
            </form>
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

<<<<<<< HEAD
        <div class="form-group">
            <div class="control-label col-md-2"><b>Contenido</b></div>
            <div class="col-md-10">
                <form>
                    <textarea name="__Content" id="__Content" rows="10" cols="80"></textarea>
                    <script>
                        CKEDITOR.replace('__Content');
                    </script>
                </form>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="control-label col-md-2"><b>Imagen</b></div>
            <div class="col-md-10">
                <img id="img" name="img" alt="" style="width:200px" />
                <input type="file" id="Image" name="Image" onchange="showimagepreview(this)" />
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                <div id="borrar" style="display:none">
                    <input type="button" value="Eliminar foto" onclick="Borrar(Image)" />
                </div>
=======

    <div class="form-group">
        <div class="control-label col-md-2"><b>Imagen</b></div>
        <div class="col-md-10">
            <img id="img" name="img" alt="" style="width:200px" />
            <input type="file" id="Image" name="Image" onchange="showimagepreview(this)" />
            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            <div id="borrar" style="display:none">
                <input type="button" value="Eliminar foto" onclick="Borrar(Image)" />
>>>>>>> origin/master
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var uploadField = document.getElementById("Image");
        uploadField.onchange = function () {
            if (this.files[0].size > (1 * 1204 * 1024)) {
                alert("El archivo seleccionado no debe superar 1MB de tamaño.");
                this.value = "";
            };
        };
        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();// Creo la instancia de FileReader
                reader.onload = function (e) {
                    document.getElementById('img').setAttribute("src", e.target.result);//seteo y cargo el tag img
                }
                reader.readAsDataURL(input.files[0]);//leo el contenido del file
                document.getElementById('borrar').style.display = 'block'; //Muestro El boton Borrar
            }
            else { //No muestro nada
                document.getElementById('img').setAttribute("src", "");
                document.getElementById('borrar').style.display = 'none';
            }
<<<<<<< HEAD
        </script>

        <div class="form-group">
            <div class="control-label col-md-2"><b>Categoría</b></div>
            <div class="col-md-10">

                @foreach (QavantWeb.Models.Category item in (List<QavantWeb.Models.Category>)ViewBag.lista)
                {
                    if (Model != null)
                    {
                        var sel = (Model.BenefitCategories.Where(ca => ca.CategoryId == item.Id).Count() > 0) ? "Checked" : "";

                        if (sel == "Checked")
                        {
                            <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" checked="checked" /> @item.Name <br />
                        }
                        else
                        {
                            <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" /> @item.Name <br />
                        }
=======
        }

        function Borrar(id) {
            document.getElementById('img').setAttribute("src", "");//Oculto img actual
            document.getElementById('borrar').style.display = 'none';//Oculto boton Borrar
            document.getElementById('Image').value = "";//Ningún archivo seleccionado
        }
    </script>

    <div class="form-group">
        <div class="control-label col-md-2"><b>Categoría</b></div>
        <div class="col-md-10">

            @foreach (QavantWeb.Models.Category item in (List<QavantWeb.Models.Category>)ViewBag.lista)
            {
                if (Model != null)
                {
                    var sel = (Model.BenefitCategories.Where(ca => ca.CategoryId == item.Id).Count() > 0) ? "Checked" : "";

                    if (sel == "Checked")
                    {
                        <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" checked="checked" /> @item.Name <br />
>>>>>>> origin/master
                    }
                    else
                    {
                        <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" /> @item.Name <br />
                    }
                }
<<<<<<< HEAD
=======
                else
                {
                    <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" /> @item.Name <br />
                }
            }
>>>>>>> origin/master

            @*@Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })*@
        </div>
    </div>

<<<<<<< HEAD
        <div class="form-group">
            <div class="control-label col-md-2"><b>Vigencia - Fecha de Inicio</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><b>Vigencia - Fecha de Fin</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
=======
    <div class="form-group">
        <div class="control-label col-md-2"><b>Vigencia - Fecha de Inicio</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.From, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2"><b>Vigencia - Fecha de Fin</b></div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
            @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
>>>>>>> origin/master
        </div>
    </div>


    <div class="form-group col-md-12">
        <hr />
        <a href="@Url.Action("Index", "Benefits")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
        <button type="submit" class="btn btn-primary"> Guardar </button>
    </div>

</div>
}


