﻿@model QavantWeb.ViewModels.BenefitViewModel
@{
    ViewBag.Title = "Editar Producto";
}

<h2>Editar</h2>

@using (Html.BeginForm("Edit", "Benefits", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Productos</h4>
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
        @Html.HiddenFor(model => model.Benefit.Id)
        @Html.HiddenFor(model => model.Benefit.EmpresaId)

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Título</b></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.Benefit.Title, new { htmlAttributes = new { @class = "form-control titulo" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Contenido</b></div>
            <div class="col-md-11">
                <form>
                    <textarea name="__Content" id="__Content" rows="10" cols="80"> @Html.Raw(HttpUtility.HtmlDecode(Model.Benefit.Content))</textarea>
                    <script>
                        CKEDITOR.replace('__Content');
                    </script>
                </form>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Puntos</b></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.Benefit.Puntos, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Tipo de Catálogo</b></div>
            <div class="col-md-11">
                @Html.DropDownListFor(model => model.Benefit.TipoCatalogoProductosId, (SelectList)ViewBag.TipoCatalogoProducto, "Seleccionar", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Benefit.TipoCatalogoProductosId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Es nuevo</b></div>
            <div class="col-md-11">
                @Html.EditorFor(model => model.Benefit.EsNuevo)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label texto-label-left col-md-1">Imagen</label>
            <div class="col-md-11">
                @if (Model.Benefit.Image != null)
                {
                    <img src="@Html.DisplayFor(model => model.Benefit.Image)" id="Image" name="Image" alt="" style="width:200px; height:100px;" /><br />

                    <div id="borrar" style="display:block">
                        <input type="button" value="Eliminar foto" onclick="Borrar()" />
                    </div>

                    <div id="subirImg" style="display:none">
                        <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" />
                        <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Benefit.Image)" />
                    </div>
                }
                else
                {
                    <img src="@Html.DisplayFor(model => model.Benefit.Image)" id="Image" name="Image" alt="" style="width:200px;display:none" /><br />

                    <div id="subirImg" style="display:block">
                        <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" />
                        <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Benefit.Image)" />
                    </div>

                    <div id="borrar" style="display:none">
                        <input type="button" value="Eliminar foto" onclick="Borrar()" />
                    </div>
                }
            </div>
        </div>


        <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
        <script type="text/javascript">
            var uploadField = document.getElementById("ImageFile");
            uploadField.onchange = function () {
                validateImageSize(this);
                validateImageExtension(this);
            };
            function Borrar() {
                document.getElementsByTagName("img")[0].setAttribute("src", "");//Oculto tag img actual
                document.getElementById('borrar').style.display = 'none';//Oculto boton Borrar
                document.getElementById('subirImg').style.display = 'block';//muestro el input
                document.getElementById('Image').value = "";//Ningún archivo seleccionado
                document.getElementById('Image').style.display = 'none';
                document.getElementById("Image").setAttribute("src", "");
                document.getElementById('ImageFile').value = "";//Ningún archivo seleccionado
                document.getElementById('foto').value = "";//borro lo que tenga el hidden
            }
            function showimagepreview(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();// Creo la instancia de FileReader
                    reader.onload = function (e) {
                        document.getElementById('Image').setAttribute("src", e.target.result);//seteo y cargo el tag img
                    }
                    reader.readAsDataURL(input.files[0]);//leo el contenido del file
                    document.getElementById('borrar').style.display = 'block'; //Oculto El boton Borrar
                    document.getElementById('Image').style.display = 'block';//muestro
                }
                else { //No muestro nada
                    document.getElementById('Image').setAttribute("src", "");
                    document.getElementById('borrar').style.display = 'none';
                }
            }
        </script>

        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Categoría</b></div>
            <div class="col-md-11">

                @foreach (QavantWeb.Models.Categoria item in (List<QavantWeb.Models.Categoria>)ViewBag.lista)
                {
                    var sel = (Model.Benefit.BenefitCategories.Where(ca => ca.CategoriaId == item.Id).Count() > 0) ? "Checked" : "";


                    if (sel == "Checked")
                    {
                        <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" checked="checked" /> @item.Nombre<br />
                    }
                    else
                    {
                        <input type="checkbox" id="lista" name="lista" value="@item.Id " class="checkbox-inline" /> @item.Nombre <br />
                    }
                }

            </div>
        </div>
        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Vigencia - Fecha de Inicio</b></div>
            <div class="col-md-11">
                @Html.TextBoxFor(model => model.Benefit.From, "{0:yyyy-MM-dd}", new { @class = "form-control", max = "2999-01-01", min = "1900-01-01", id = "from_Id", type = "date" })
            </div>
        </div>
        <div class="form-group">
            <div class="control-label texto-label-left col-md-1"><b>Vigencia - Fecha de Fin</b></div>
            <div class="col-md-11">
                @Html.TextBoxFor(model => model.Benefit.To, "{0:yyyy-MM-dd}", new { @class = "form-control", max = "2999-01-01", min = "1900-01-01", id = "to_Id", type = "date" })
            </div>
        </div>

        <hr />
        @Html.Partial("_Filtros", Model.FiltroConfig)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="@Url.Action("Index", "Benefits")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
                <button id="btn_guardar" type="submit" class="btn btn-primary"> Guardar </button>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <script src="~/Scripts/Pages/product-validator.js"></script>
    <script src="~/Scripts/Pages/validate-img-edit.js"></script>
    <script src="~/Scripts/Pages/fechas-desde-hasta-validacion.js"></script>
    <script src="~/Scripts/Pages/cat-seleccionada-validacion.js"></script>
    <script src="~/Scripts/Pages/CKEditor-is-there-content.js"></script>
    <script src="~/Scripts/Pages/CKEditor-validacion.js"></script>
    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>
}