﻿@model IEnumerable<QavantWeb.Models.Benefit>

@{
    ViewBag.Title = "PRODUCTOS ELIMINADOS";
}

<h2><i class="fa fa-gift " aria-hidden="true"></i> Productos - Eliminados</h2>

<p>
    <a href="@Url.Action("Index", "Benefits")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver a Lista de Productos</a>
</p>

<table id="BenefitList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Título
            </th>
            <th>
                Imagen
            </th>
            <th>
                Ult Modif
            </th>
            <th>
                Ult Usuario
            </th>
            <th>
                Inicio
            </th>
            <th>
                Fin
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.Image != null)
                {
                    <img src="@Html.DisplayFor(modelItem => item.Image)" style="max-width:100px;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Surname), @Html.DisplayFor(modelItem => item.AspNetUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                <a href="@Url.Action("Enable", "Benefits", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar el producto nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }

</table>



<script>
    $(document).ready(function () {
        $('#BenefitList').DataTable({
            "order": [[2, "desc"]],
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>