qavant-header {
    .img-header{
        width: 80px;
    }

    .center {
        position: absolute;
        top: -25px;
        text-align: 10%;
    }
    .label-header{
        color: white;
        font-family: Roboto !important;
        font-size: 16px;
        
    }

    .color{
        background-color: #e20614;
    }
    .text-center{
        text-align: center;
    }
}