<ion-header class="color">
  <ion-navbar>
    <button ion-button menuToggle>
      <svg version="1.1" class="custom-burguer" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 52.9 32.7" style="enable-background:new 0 0 52.9 32.7;" xml:space="preserve">
        <rect y="0" class="st0" width="6" height="6"/>
        <rect x="8.9" y="0" class="st1" width="44" height="6"/>
        <rect y="8.9" class="st1" width="34" height="6"/>
        <rect y="17.8" class="st1" width="47" height="6"/>
        <rect y="26.7" class="st1" width="34" height="6"/>
      </svg>
    </button>

    <ion-toolbar>
      <ion-title>
        <ion-icon *ngIf="title == null" class="img-header"><img  src="./assets/img/sinteplast-icon.png"  alt="logo"></ion-icon>
        <ion-icon *ngIf="title != null"><ion-label *ngIf="title != null" class="label-header" >{{ title }}</ion-label></ion-icon>
      </ion-title>
    </ion-toolbar>

  </ion-navbar>
</ion-header>