<div  class="qavant">
  <div>
    <ion-menu id="myMenu" [content]="content" class="sidemenu">
      <ion-content>
          <img src="./assets/img/sinteplast-icon-red.png" class="logo-img"/>
        <!--<div class="user-card">
            
            <div class="name">
                {{userProvider.getFullName()}}
            </div>
        </div>-->
        <ion-list class="mt-1">
          <button menuClose ion-item *ngFor="let p of menuItems" (click)="openPage(p)">
              <div>
                <ion-icon class="no-margin align" item-start name={{p?.icon}}></ion-icon>
                {{p?.title}}
              </div>            
            <ion-icon  item-end name="ios-arrow-forward"></ion-icon>
          </button>

          <button menuClose ion-item (click)="logout()">
              <div>
                <ion-icon class="no-margin align" item-start name="ios-power"></ion-icon>
                Cerrar sesión
              </div>            
            <ion-icon  item-end name="ios-arrow-forward"></ion-icon>
          </button>
        </ion-list>
      </ion-content>

      <div class="version">
        Versión {{appVersion}}
      </div>
    </ion-menu>
    
          
    <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" id="main"></ion-nav>      
  </div>
</div>