// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Notifications
// --------------------------------------------------
.toast-success .toast-message { background-color:#4F8A10; }
.toast-danger .toast-info { background-color: #BDE5F8; }
.toast-danger .toast-warning { background-color: #FEEFB3; }
.toast-danger .toast-message{ background-color: #D8000C; }


// Fonts
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?shphal');
  src:  url('../assets/fonts/icomoon.eot?shphal#iefix') format('embedded-opentype'),
        url('../assets/fonts/icomoon.ttf?shphal') format('truetype'),
        url('../assets/fonts/icomoon.woff?shphal') format('woff'),
        url('../assets/fonts/icomoon.svg?shphal#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.qavant {
  font-family: 'Source Sans Pro', sans-serif;
  @import "../assets/css/base";
  @import "../assets/css/modules";
  @import "../assets/css/theme";
}

.logo-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 20px;
}

.no-margin{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.mt-1{
  margin-top: 20px;
}
.align{
  position: relative;
  bottom: -5px;
}

ion-icon {
  &.big {
    width: 50px;
    height: 50px;
  }

  &.bigger {
    width: 100px;
    height: 100px;
  }

  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 100% 100%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 25px !important;
    height: 25px !important;
  }

  &[class*="custom-capacitaciones"] {
    mask-image: url(../assets/icon/custom/capacitaciones.svg);
  }
  &[class*="custom-catalogo"] {
    mask-image: url(../assets/icon/custom/catalogo.svg);
  }
  &[class*="custom-encuestas"] {
    mask-image: url(../assets/icon/custom/encuestas.svg);
  }
  &[class*="custom-formularios"] {
    mask-image: url(../assets/icon/custom/formularios.svg);
  }
  &[class*="custom-informacion"] {
    mask-image: url(../assets/icon/custom/informacion.svg);
  }
  &[class*="custom-noticias"] {
    mask-image: url(../assets/icon/custom/noticias.svg);
  }
  &[class*="custom-perfil"] {
    mask-image: url(../assets/icon/custom/perfil.svg);
  }
  &[class*="custom-muro"] {
    mask-image: url(../assets/icon/custom/muro.svg);
  }
  &[class*="custom-cell"] {
    mask-image: url(../assets/icon/custom/cell.svg);
  }
  &[class*="custom-mail"] {
    mask-image: url(../assets/icon/custom/mail.svg);
  }
}

.version{
  position: absolute;
  bottom: 10px;
  left: 20px;
}