<div bsModal #fadInModal="bs-modal" 
  class="modal item-modal fade fill-in" 
  tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row dialog__overview">
            <carousel class="col-12 no-padding" 
              [(activeSlide)]="activeSlideIndex" 
              [interval]="false">
              <slide *ngFor="let slide of images; let index=index">
                <ng-container *ngIf="isVideo(slide); else Image">
                  <vg-player [ngStyle]="{width: '100%'}">
                    <video [vgMedia]="media" #media preload="auto" controls>
                      <source src="{{slide.RutaArchivo}}" type="video/mp4" >
                    </video>
                  </vg-player>
                </ng-container>
                <ng-template #Image>
                    <img [src]="slide.RutaArchivo" alt="image slide" class="slide-qavant" [ngStyle]="style()">
                </ng-template>
              </slide>
            </carousel>
            <div class="col-12 bg-info-dark reaction">
              <app-reactions *ngIf="!_isLoading" [data]="gallery"></app-reactions>
            </div>
            <div class="col-12 bg-info-dark content2">
              <h5>{{gallery.Titulo}}<span class="float-right date">{{gallery.FechaAlta}}</span></h5>
              <p>{{gallery.Copete}}</p>              
            </div>
            <span class="close action top-right" (click)="close()">
                <i class="fas fa-times"></i>
              </span>
          </div>
      </div>
      <!-- /.modal-content -->
    </div>
  </div>
<!-- /.modal-dialog -->
</div>
  