@import '~swiper/dist/css/swiper.min.css';

.item-modal{
    &.fade.fill-in.show{
        background: rgba(55,58,71,.9);
    }
    .modal-dialog {
        width: 845px;
        max-width: 845px;
        
        .dialog__overview{
            // background: white;
            background: rgba(32, 33, 36, 0.972);
            padding: 0;
            text-align: left;
            // border: 1px solid rgba(0,0,0,.8);
            border: 1px solid rgba(55, 58, 71, 0.9);
            height: 516px;
            // height: auto;
            .buy-now{
                position: absolute;
                bottom: 20px;
                right: 35px;
            }
            
        }
        .close {
            top: 15px;
            right: 15px;
            z-index: 100;
        }
    }
    .modal-body{
        padding: 0;
        background: #fff;
    }
    .dialog__footer{
        // height: 75px;
        min-height: 75px;
    }
    .slide{
        width: 516px;
        height: 516px;
        display: block;
        overflow: hidden !important;
        // background-image: url(/assets/img/gallery/item-square.jpg);
        background-size: cover;
    }
    .swiper-button{
        background: transparent;
        color: white;
        font-size: 18px;
        opacity: .8;
        height: 22px;
        margin-top: -5px;
    }
}

:host /deep/ .swiper-pagination{
    text-align: right;
    padding-right: 25px;
    .swiper-pagination-bullet{
        background: rgba(0,0,0,.3);
        width: 10px;
        height: 10px;
        border-radius: 5px;
        display: inline-block;
        margin-left: 6px;
        &.swiper-pagination-bullet-active{
            background: #fff;
        }
    }
}

.filter-close{
    position: absolute;
    right: 12px;
    top: 2px;
    color: #788195;
    padding: 6px;
    opacity: .4;
}

@media (max-width: 920px) {
    .gallery-item.first{
        display: none;
    }
}
@media (max-width: 767px) {
    .item-modal .modal-dialog {
            
            width: 400px;
            max-width: 400px;
            margin: 0 auto;
            .container-fluid {
                height: 100%;
                padding-left: 30px;
                padding-right: 30px;
            }
            .dialog__overview {
                height: 100%;
                margin-right: -30px;
                margin-left: -30px;
                border: none;
            }
            .modal-body{
                height: 90%;
                overflow-y: auto;
            }
        }
        .item-slideshow-wrapper {
            height: 515px !important;
        }
        .item-description {
            height: auto !important;
            .buy-now {
                position: static !important;
                float: right;
                margin-bottom: 20px;
            }
        }
        .swiper-container {
            .swiper-slide {
                width: 100% !important;
                img{
                       object-fit: cover !important;
                }
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center; 
            }
        }
        .dialog__footer{
            display: none !important;
        }
}

@media (max-width: 420px) {
    .gallery{
        margin-top: 80px;
    }
    .gallery-filters{
        top: -90px;
    }
    .item-modal{
        .modal-body {
            width: 100%;
            max-width: 100%;
        }
    }
}

@media (max-width: 610px) {
    .gallery-item, .gallery {
        width: 100% !important;
    }
}
@media (min-width: 768px) {
    .item-modal .modal-body .container-fluid > .row {
        margin-left: -30px;
        margin-right: -30px;
    }
}

div.swiper-container{
    // opacity: 0.5 !important;
    .swiper-slide{
        overflow: hidden !important;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; 
        // background-size: cover;
        // object-fit: cover !important;
        // width: auto !important;
        height: 100% !important;
    }

}
.close{
    i{
        // padding: 0px;
        // margin: 0px;
        font-size: 13px;
        color: white !important;
        background-color: #788195;
        padding: 6px;
        border-radius: 50%;
    }
}
vg-player{
    position: relative;
    min-height: 480px;
}
video{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    left: 0px;
    top: 0px;
}
span.date{
    color: #fff;
    float: right !important;
    font-size: 13px;
}

.title{
    line-height: 1.4;
}

img.slide-qavant{
    max-height: 480px !important;
    // margin-left: auto;
    // margin-right: auto;
    object-fit: scale-down !important;
    // text-align: center !important;
}

.bg-info-dark{
    min-height: 50px;
    app-reactions{
        bottom: 0;
        width: 100%;
        position: absolute;
        padding-right: 30px;
    }
}

div.content2{
    h5{
        font-size: 18px;
    }
    h5, p{
        color: white;
    }
}

.carousel-control-prev{
    height: 250px !important;
}