﻿@model QavantWeb.Models.User
@{
    ViewBag.Title = "Create";
}
<h2>Crear</h2>
@using (Html.BeginForm("Create", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @*<h4>Usuario</h4>*@
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "alert alert-warning alert-dismissible", id = "myAlert" })
        @*-CABECERA-*@
        <div class="panel panel-default">
            <div class="panel-body">
                @*-DATOS PERSONALES-*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos personales</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Nombre</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Apellido</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Fecha de nacimiento</b></div>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", id = "fecha_nac", type = "date" })
                                            @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Documento</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Dni, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Teléfono particular</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.TelefonoPersonal, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TelefonoPersonal, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b> Género </b></div>
                                        <div class="col-md-10">
                                            @Html.DropDownList("GeneroCatalogoId", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.GeneroCatalogoId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Dirección</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Localidad</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Foto</label>
                                        <div class="col-md-10">
                                            <img src="@Html.DisplayFor(model => model.Image)" id="Image" name="Image" alt="" style="width:200px" class="thumbnail" />
                                            <div id="borrar" style="display:block">
                                                <input type="button" value="Eliminar foto" onclick="Borrar()" />
                                            </div>
                                            <div id="subirImg" style="display:none">
                                                <input type="file" id="ImageFile" name="ImageFile" onchange="showimagepreview(this)" />
                                                <input type="hidden" id="foto" name="foto" value="@Html.DisplayFor(model => model.Image)" />
                                            </div>
                                        </div>
                                    </div>
                                    <script src="~/Scripts/Pages/tamanio-img-validacion.js"></script>
                                    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>
                                    <script type="text/javascript">
                                        $(document).ready(function () {
                                            document.getElementById('borrar').style.display = 'none';
                                            document.getElementById('Image').value = "";//Ningún archivo seleccionado
                                            document.getElementById('ImageFile').value = "";//Ningún archivo seleccionado
                                            document.getElementById('Image').style.display = 'none';//oculto el tag
                                            document.getElementById('subirImg').style.display = 'block';//muestro el input
                                        });

                                        var uploadField = document.getElementById("ImageFile");
                                        uploadField.onchange = function () {
                                            validateImageSize(this);
                                            validateImageExtension(this);
                                        };
                                        function Borrar() {
                                            document.getElementById('Image').setAttribute("src", "");//Oculto img actual
                                            document.getElementById('borrar').style.display = 'none';//Oculto boton Borrar
                                            document.getElementById('Image').value = "";//Ningún archivo seleccionado
                                            document.getElementById('ImageFile').value = "";//Ningún archivo seleccionado
                                            document.getElementById('Image').style.display = 'none';//oculto el tag
                                            document.getElementById('subirImg').style.display = 'block';//muestro el input
                                            document.getElementById('foto').value = "";
                                            document.getElementById('ImageFile').style.display = 'block';
                                        }
                                        function showimagepreview(input) {
                                            if (input.files && input.files[0]) {
                                                var reader = new FileReader();// Creo la instancia de FileReader
                                                reader.onload = function (e) {
                                                    document.getElementById('Image').setAttribute("src", e.target.result);//seteo y cargo el tag img
                                                }
                                                reader.readAsDataURL(input.files[0]);//leo el contenido del file

                                                document.getElementById('borrar').style.display = 'block'; //Muestro El boton Borrar
                                                document.getElementById('Image').style.display = 'block';//muestro
                                                document.getElementById('ImageFile').style.display = 'none';
                                            }
                                        }
                                    </script>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Celular</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Contacto urgencia</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.ContactoUrgencias, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.ContactoUrgencias, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Teléfono urgencia</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.TelefonoUrgencias, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.TelefonoUrgencias, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*-DATOS LABORALES-*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos Laborales</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Región</b></div>
                                        <div class="col-md-10">
                                            @Html.DropDownList("RegionId", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RegionId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Compañía</b></div>
                                        <div class="col-md-10">
                                            @Html.DropDownList("CompaniaId", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CompaniaId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Sucursal</b></div>
                                        <div class="col-md-10">
                                            @Html.DropDownList("SucursalId", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.SucursalId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Área</b></div>
                                        <div class="col-md-10">
                                            @Html.DropDownList("Area_Id", (SelectList)ViewBag.EntityList, " Seleccionar ", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Fecha de ingreso</b></div>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.FechaIngreso, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", id = "from_Id", type = "date" })
                                            @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Fecha de egreso</b></div>
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(model => model.FechaEgreso, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Enter Title", id = "to_Id", type = "date" })
                                            @Html.ValidationMessageFor(model => model.FechaEgreso, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Legajo</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.FileNumber, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.FileNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>CUIL</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Cuil, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Cuil, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Teléfono</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Interno</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Intern, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Intern, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*-DATOS APP-*@
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos App</h3>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Nombre de Usuario</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="control-label col-md-4"><b>Activo</b></div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.Active)
                                                @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="control-label col-md-2"><b>Contraseña</b></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group" style="display:none">
                                        <div class="control-label col-md-4"><b>Habilitado</b></div>
                                        <div class="col-md-2">
                                            <div class="checkbox">
                                                @Html.EditorFor(model => model.Enable)
                                                @Html.ValidationMessageFor(model => model.Enable, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-5 col-md-5">
                        <input type="submit" value="Guardar" id="btn_guardar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div>
                <a href="@Url.Action("Index", "Users")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left " aria-hidden="true"></span> Volver</a>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Pages/extension-img-validacion.js"></script>
    <script src="~/Scripts/Pages/validation-summary.js"></script>
    <script src="~/Scripts/Pages/fecha-nac-validacion.js"></script>

}

<script>
    $(document).ready(function () {
        $("#myAlert").alert().hide();
        $("#msgAlert").alert().hide();
    });
    $(".close").click(function () {
        //$("#myAlert").alert().hide();
    });
    $("#btn_guardar").on('click', function () {
        //$("#myAlert").alert().hide();
        Mensaje = "";
        var anioMin = "1900-01-01";
        var hoy = new Date();
        var dd = hoy.getDate();
        if (dd < 10) {
            dd = '0' + dd
        }
        var mm = hoy.getMonth() + 1;
        if (mm < 10) {
            mm = '0' + mm
        }
        var yyyy = hoy.getFullYear();
        var fechaActual = yyyy + "-" + mm + "-" + dd;
        var fechaActualFormateada = dd + "-" + mm + "-" + yyyy;

        //validar fechas
        if ($("#from_Id").val() != "") {
            if ($("#from_Id").val() < anioMin)
                Mensaje = Mensaje + "- Por favor, ingrese una fecha de ingreso mayor o igual a 01/01/1900. <br>";
            if ($("#from_Id").val() > fechaActual)
                Mensaje = Mensaje + "- Por favor, ingrese una fecha de ingreso menor o igual a " + fechaActualFormateada + ". <br>";
        }
        if ($("#to_Id").val() != "") {
            if ($("#to_Id").val() < anioMin)
                Mensaje = Mensaje + "- Por favor, ingrese una fecha de egreso mayor o igual a 01/01/1900 . <br>";
        }
        if ($("#from_Id").val() != "" && $("#to_Id").val() != "") {
            if ($("#from_Id").val() > $("#to_Id").val())
                Mensaje = Mensaje + "- La fecha de egreso no puede ser menor a la fecha de ingreso. <br>";
        }
        if ($("#from_Id").val() == "")
            Mensaje = Mensaje + "- Debe ingresar una fecha de ingreso. <br>";

    })


</script>