﻿@model IEnumerable<QavantWeb.Models.User>

@{
    ViewBag.Title = "Usuarios de App Eliminados";
}

<h2><i class="fa fa-users " aria-hidden="true"></i> Usuarios - App</h2>

<p>
    <a href="@Url.Action("Index", "Users")" class="btn btn-default"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Volver a Lista de Usuarios</a>
</p>

<table id="UsersList" class="table hover display compact stripe">
    <thead>
        <tr>
            <th>
                Usuario/Email
            </th>
            @*<th>
                Foto
            </th>*@
            <th>
                Nombre y Apellido
            </th>
            <th>
                Área
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
               
                <img src="@Html.DisplayFor(modelItem => item.Image)" style="max-width:100px;" class="thumbnail" />
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name) @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                <div>
                    @Html.DisplayFor(modelItem => item.Area.Nombre)
                </div>
            </td>
            <td>
                <a href="@Url.Action("Enable", "Users", new { id = item.Id })" onclick="javascript: return confirm('¿Confirma que desea activar el usuario nuevamente?');" class="btn btn-success"><span class="glyphicon glyphicon-ok " aria-hidden="true"></span> Activar</a>
            </td>
        </tr>
    }

</table>



<script>
    $(document).ready(function () {
        $('#UsersList').DataTable({
            "language": {
                "lengthMenu": "Mostrar _MENU_ registros por página",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando página _PAGE_ de _PAGES_",
                "infoEmpty": "Ningún registro disponible",
                "infoFiltered": "(filtrado de _MAX_ registros totales)",
                "search": "Buscar:",
                "processing": "Procesando...",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>