<qavant-header title="Formularios"></qavant-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let form of generalFormsList" class="q-item">
      <div class="q-item-content" (click)="goToQuestions(form)">
        <h2>{{form.title | truncate:70}}</h2>
        <p>{{form.description | truncate:175}}</p> 
      </div>
      <div class="q-item-footer hide">
        <qavant-social modulo="FORGE" [entidad]="form"></qavant-social>
      </div>
    </ion-item>

    <ion-item *ngIf='generalFormsList?.length === 0'>
      <p class="notfound">Sin resultados</p>
    </ion-item>    
  </ion-list>
</ion-content>
